# Versions should be equal to base-python-gpu container check with pip freeze
opensearch-py==2.4.2 
pydicom==2.4.4
minio==7.2.3 
pandas==1.3.5
pathlib==1.0.1
plotly==5.7.0
torchvision==0.15.2
seaborn==0.11.2
protobuf==4.23.4
cryptography==42.0.5
Werkzeug==3.0.1
wheel==0.42.0
Pillow==10.2.0
nibabel==5.1.0
SimpleITK==2.2.1
requests==2.31.0
certifi==2023.11.17
urllib3==1.26.18
Jinja2==3.1.3
psutil==5.9.8
jsonschema==4.21.1