# Description: This Ansible playbook copies algorithm files and study data to an isolated enironment.
---
- name: Add the target host to an inventory group
  hosts: localhost
  gather_facts: no
  vars:
    - target: "{{ target_host }}"

  tasks:
    - name: Fail if Target IP is empty or undefined
      fail:
        msg: "Target IP is empty or undefined"
      when: target is not defined or target | length == 0
    - add_host:
        name: "{{ target }}"
        groups: os_server

- name: Copy algorithm files, study and user data to isolated environment
  hosts: os_server
  strategy: free
  gather_facts: yes
  remote_user: "{{ remote_username }}"
  vars:
    ansible_ssh_private_key_file: "{{ ssh_key_operator_path }}/{{ ssh_key_name }}"
    src_algorithm_dir: "{{ src_algorithm_files_path }}"
    dst_algorithm_dir: "{{ ansible_env.HOME }}/algorithm_files/{{ user_experiment_name }}"
    dst_data_dir: "{{ ansible_env.HOME }}/{{ user_selected_data }}"
    dst_pacs_data_dir: "{{ ansible_env.HOME }}/pacs_data"
  # TODO: data could be in any or multiple instances
  tasks:
    - name: Check if all required variables are passed using --extra-vars
      fail:
        msg: "Variable {{ item }} not defined"
      when: item is not defined
      with_items:
        - "{{ ssh_key_name }}"

    - name: Create directory for algorithm files if it doesn't exist
      file:
        path: "{{ dst_algorithm_dir }}"
        state: directory
        recurse: yes
    
    - name: Create bucket data directory if it doesn't exist
      file:
        path: "{{ dst_data_dir }}"
        state: directory
        recurse: yes
    
    - name: Create pacs data directory if it doesn't exist
      file:
        path: "{{ dst_pacs_data_dir }}"
        state: directory
        recurse: yes

    - name: Copy algorithm file/s
      copy:
        src: "{{ src_algorithm_dir }}/"
        dest: "{{ dst_algorithm_dir }}"
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_id }}"
        mode: '600'

    - name: Copy user selected data bucket to isolated environment
      become: yes
      copy:
        src: "{{ src_data_path }}/"
        dest: "{{ dst_data_dir }}"
        # directory_mode: yes
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_id }}"
        mode: '600' # TODO: data permissions need to be clarified
    
    - name: Copy user selected PACS data to isolated environment
      become: yes
      copy:
        src: "{{ pacs_data_path }}"
        dest: "{{ dst_pacs_data_dir }}"
        directory_mode: yes
        owner: "{{ ansible_user_id }}"
        group: "{{ ansible_user_id }}"
        mode: '400' # TODO: data permissions need to be clarified
        