[Unit]
Description=TigerVNC server on display %i
After=syslog.target network.target

[Service]
Type=forking
User={{ ansible_user }}
Group={{ ansible_user }}

ExecStartPre=/usr/bin/vncserver -kill :%i > /dev/null 2>&1 || :
ExecStart=/usr/bin/vncserver -localhost no
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target