cryptography==3.4.8
Flask==2.0.2
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
gunicorn==20.1.0
minio==7.1.2
psycopg2-binary==2.9.3
python-dotenv==0.19.2
requests==2.27.1
SQLAlchemy==1.4.31
Werkzeug==2.0.2
WTForms==3.0.1