alembic==1.7.6
asyncio==3.4.3
cryptography==3.4.8
fastapi==0.73.0
gunicorn==20.1.0
httpx==0.22.0
minio==7.1.2
uvicorn==0.17.4
psycopg2-binary==2.9.3
python-multipart==0.0.5
pytest==7.0.0
SQLAlchemy==1.4.31