
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ldap
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: ldap
  template:
    metadata:
      labels:
        app.kubernetes.io/name: ldap
    spec:
      {{- if .Values.global.storage_node }}
      nodeSelector:
        kaapana.io/node: {{ .Values.global.storage_node }}
      {{- end }}
      containers:
        - name: ldap-container
          image: "{{ .Values.global.registry_url }}/dcm4chee-ldap:{{ .Values.global.kaapana_build_version  }}"
          imagePullPolicy:  {{ .Values.global.pull_policy_images }}
          env:
          - name: ARCHIVE_HOST
            value: {{ required "A valid hostname (or fqdn) is required!" .Values.global.hostname }}
          - name: TZ
            value: Europe/Paris
          - name: ARCHIVE_DEVICE_NAME
            value: kaapana
          - name: AE_TITLE
            value: KAAPANA
          - name: DICOM_PORT
            value: "11112"
          - name: HL7_PORT
            value: "2575"
          - name: STORAGE_DIR
            value: /storage/fs1
          - name: IMPORT_LDIF
            value: /import/dcm4che-iid.ldif
          ports:
            - containerPort: 389
          resources:
            requests:
              memory: 20Mi
            limits:
              memory: 30Mi
          volumeMounts:
            - mountPath: /var/lib/openldap/openldap-data
              name: dcm4che-volume
              subPath: ldap
            - mountPath: /etc/openldap/slapd.d
              name: dcm4che-volume
              subPath: slapd.d
            - mountPath: /import
              name: ldif
          securityContext:
            allowPrivilegeEscalation: false
      volumes:
      - name: dcm4che-volume
        persistentVolumeClaim:
          claimName: dcm4che-pv-claim
      - name: ldif
        configMap:
          name: dcm4che-iid-config
      priorityClassName: kaapana-high-priority
      imagePullSecrets:
      - name: registry-secret
