$kaapana-blue: rgba(0, 71, 156, 0.95);
$kaapana-green: #ff7a20;

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}

.ta-center { text-align: center; }

.kaapana-blue { color: $kaapana-blue; }

.kaapana-page-link { color: black; text-decoration: none; }

.pa-0 { padding: 0; }
