---
global:
  image: podman
  uuid: podman
  volumeMounts:
  - name: podman-data
    mount_path: /kaapana/mounted/podman
  - name: containerd-socket
    mount_path: /root/containerd.sock
  volumes:
  - name: containerd-socket
    claim_name: containerd-pv-claim
    host_path: /var/snap/microk8s/common/run/containerd.sock"
  - name: podman-data
    claim_name: podman-pv-claim
    host_path: /podman
  envVars:
  - name: WORKSPACE
    value: "/kaapana/mounted/workflows"