# --------------------------------------------------
# Logging
# --------------------------------------------------
# LOG_LEVEL=INFO

# --------------------------------------------------
# Registry configuration
# --------------------------------------------------
# DEFAULT_REGISTRY=
# REGISTRY_USER=
# REGISTRY_PW=

# --------------------------------------------------
# Platform / build selection
# --------------------------------------------------
# PLATFORM_FILTER=kaapana-admin-chart
# EXTERNAL_SOURCE_DIRS=
# BUILD_IGNORE_PATTERNS=*templates_and_examples/*,*ci/*,*lib/task_api/*

# CONTAINERS_TO_BUILD_BY_CHARTS=
# CONTAINERS_TO_BUILD=

# ONLY_CHARTS=false
# INTERACTIVE=false

# --------------------------------------------------
# Build behavior
# --------------------------------------------------
# BUILD_ONLY=false
# PARALLEL_PROCESSES=2
# NO_LOGIN=false

# --------------------------------------------------
# Linting & validation
# --------------------------------------------------
# ENABLE_LINTING=true
# EXIT_ON_ERROR=true
# CONFIGURATION_CHECK=false
# CONFIGURATION_CHECK_SEVERITY_LEVEL=CRITICAL,HIGH

# --------------------------------------------------
# Vulnerability scanning
# --------------------------------------------------
# VULNERABILITY_SCAN=false
# VULNERABILITY_SEVERITY_LEVEL=CRITICAL,HIGH
# CHECK_EXPIRED_VULNERABILITY_DB=false

# --------------------------------------------------
# SBOMs & statistics
# --------------------------------------------------
# CREATE_SBOMS=false
# ENABLE_IMAGE_STATS=false

# --------------------------------------------------
# Image handling
# --------------------------------------------------
# USE_LATEST_TAG=false
# PUSH_TO_MICROK8S=false
# CREATE_OFFLINE_INSTALLATION=false
# INCLUDE_MODEL_WEIGHTS=false

# --------------------------------------------------
# Paths
# Only needed if you are buiding your own platform
# or have a specific build directory
# --------------------------------------------------
# KAAPANA_DIR=/path/to/kaapana
# BUILD_DIR=/path/to/kaapana/build

# --------------------------------------------------
# Networking
# --------------------------------------------------
# http_proxy=
# PLAIN_HTTP=false

# --------------------------------------------------
# Tooling
# --------------------------------------------------
# HELM_EXECUTABLE=helm
# CONTAINER_ENGINE=docker
