node_modules
build
venv
tmpcharts
migrations
.ipynb_checkpoints
__pycache__
.vscode
.DS_Store
*vars.yaml
*.idea*
*.work*
*.iml
*.ipr
*.iws
*.vagrant*
*.spyproject
*.pyc
*.lock
*.tgz
## Linux
*~
history
build-scripts/build-config.yaml
*del.*
platform_config.yaml
platform_config.json
