node_modules
build
venv
security-reports/*.json
tmpcharts
migrations
.ipynb_checkpoints
__pycache__
.vscode
.DS_Store
*vars.yaml
*.idea*
*.work*
*.iml
*.ipr
*.iws
*.vagrant*
*.spyproject
*.pyc
*.lock
# https://classic.yarnpkg.com/lang/en/docs/yarn-lock/#toc-check-into-source-control
!yarn.lock
*.tgz
## Linux
*~
history
build-scripts/build-config.yaml
