---
global:
  registry_url: ""
  pull_policy_images: ""
  base_namespace: ""
  fast_data_dir: ""
  slow_data_dir: ""
  namespace: "{{ .Values.global.services_namespace }}"
  dynamicVolumes:
  - name: slicer
    mount_path: /kaapana/minio
  display_name: "-"
extension_params:
    gpu_container:
        definition: "Pod with GPU - only if instance has GPU support"
        type: "boolean"
        default: false
    display_name:
        default: "-"
        definition: Display name for the launched application
        type: string
        value: ""


