---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-backend
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: auth-backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app-name: auth-backend
    spec:
      containers:
      - name: auth-backend
        image: "{{ .Values.global.registry_url }}/auth-backend:{{ .Values.global.kaapana_build_version }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
        ports:
          - containerPort: 5000
        resources:
          limits:
            memory: "100Mi"
          requests:
            memory: "50Mi"
        volumeMounts:
        - name: auth-config
          mountPath: /kaapana/app/auth_role_mapping.json
          subPath: auth_role_mapping.json
      volumes:
      - name: auth-config
        configMap:
          name: auth-check-config
          items:
          - key: auth_role_mapping.json
            path: auth_role_mapping.json
      imagePullSecrets:
        - name: registry-secret
---