---
apiVersion: v1
kind: Service
metadata:
  name: auth-backend-service
  namespace: "{{ .Values.global.admin_namespace }}"
  labels:
    app-name: auth-backend
spec:
  selector:
    app-name: auth-backend
  ports:
    - name: auth-check-http
      port: 5000 
      targetPort: 5000
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: auth-backend-ingress
  namespace: "{{ .Values.global.admin_namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host:
    http:
      paths:
      - path: /auth-backend
        pathType: ImplementationSpecific
        backend:
          service:
            name: auth-backend-service
            port: 
              number: 5000