---
- name: tasks info
  debug:
    msg: "INSTALL HELM"

- name: Uninstall existing Helm
  become: yes
  snap:
    name: helm
    state: absent
  ignore_errors: yes

- name: Install Helm
  become: yes
  snap:
    classic: yes
    channel: latest/stable
    name:
      - helm

- name: Check helm push installed
  become: no
  command: /snap/bin/helm push --help
  ignore_errors: no

- name: install helm kubeval
  become: no
  command: /snap/bin/helm plugin install https://github.com/instrumenta/helm-kubeval
  ignore_errors: yes
  