---
- name: tasks info
  debug:
    msg: "INSTALL HELM"

- name: Uninstall existing Helm
  become: yes
  shell: snap remove helm || true
  args:
    executable: /bin/bash

- name: Install Helm
  become: yes
  command: snap install helm --classic --channel=latest/stable

- name: Check helm push installed
  become: no
  command: /snap/bin/helm push --help
  ignore_errors: no

- name: install helm kubeval
  become: no
  command: /snap/bin/helm plugin install --verify=false https://github.com/instrumenta/helm-kubeval
  ignore_errors: yes
