kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
  labels:
    app.kubernetes.io/name: dev-code-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      initContainers:
      - name: dev-server-chart-init
        securityContext:
          runAsUser: 0
        image: "{{ .Values.global.registry_url }}/busybox:{{ .Values.global.kaapana_build_version  }}"
        command: ["chown", "-R" , "1000:1000", "/kaapana/minio"]
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
      containers:
      - name: minio-input
        image: "{{ .Values.global.registry_url }}/minio-mirror:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        resources:
          requests:
            memory: "10Mi"
          limits:
            memory: "50Mi"
        env:
        - name: ACTION
          value: "FETCH"
        - name: MINIO_SERVICE
          value: "minio-service.{{ .Values.global.services_namespace }}.svc:9000"
        - name: LOCAL_PATH
          value: /kaapana/minio/input
        - name: MINIO_PATH
          value: project-{{ .Values.global.project_name }}
        - name: MINIO_USER
          value: {{ .Values.global.credentials_minio_username  | default "" }}
        - name: MINIO_PASSWORD
          value: {{ .Values.global.credentials_minio_password | default ""}}
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
      - name: minio-output
        image: "{{ .Values.global.registry_url }}/minio-mirror:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        resources:
          requests:
            memory: "10Mi"
          limits:
            memory: "50Mi"
        env:
        - name: ACTION
          value: "PUSH"
        - name: MINIO_SERVICE
          value: "minio-service.{{ .Values.global.services_namespace }}.svc:9000"
        - name: LOCAL_PATH
          value: /kaapana/minio/output
        - name: MINIO_PATH
          value: "project-{{ .Values.global.project_name }}/{{ .Release.Name }}/output"
        - name: MINIO_USER
          value: {{ .Values.global.credentials_minio_username  | default "" }}
        - name: EXCLUDE
          value: "*checkpoint.ipynb"
        - name: MINIO_PASSWORD
          value: {{ .Values.global.credentials_minio_password | default ""}}
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
      - name: code-server
        image: "{{ .Values.global.registry_url }}/dev-code-server:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        command: ["sh", "-c", "code-server --auth none --bind-addr 0.0.0.0:8080 ${WORKSPACE}"]
        env:
{{ include "dynamicEnvs" $ | indent 8 }}
        - name: http_proxy
          value: {{ .Values.global.http_proxy }}
        - name: https_proxy
          value: {{ .Values.global.https_proxy }}
        resources:
          requests:
            memory: 200Mi
          limits:
            memory: 30Gi
        volumeMounts:
          - name: configs
            mountPath: /root/.local/share/code-server/User/keybindings.json
            subPath: keybindings.json
          - name: configs
            mountPath: /root/.local/share/code-server/User/settings.json
            subPath: settings.json
{{ include "dynamicVolumeMounts" $ | indent 10 }}
          - name: dshm
            mountPath: /dev/shm
      volumes:
      - name: configs
        configMap:
          name: {{ .Release.Name }}
          items:
          - key: keybindings.json
            path: keybindings.json
          - key: user_settings.json
            path: settings.json
{{ include "dynamicVolumes" $ | indent 6 }}
      - name: dshm
        emptyDir:
          medium: Memory
      imagePullSecrets:
      - name: registry-secret