kind: Service
apiVersion: v1
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
spec:
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
  ports:
    - protocol: TCP
      port: 8080
      name: vs-http
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/preserve-host: "true"
    kaapana.ai/display-name: {{ if eq .Values.global.display_name "-" }}{{ .Release.Name }}{{ else }}{{ .Values.global.display_name }}{{ end }}
    kaapana.ai/type: application
spec:
  rules:
  - host: 
    http:
      paths:
      - path: "/applications/project/{{ .Values.global.project_name }}/release/{{ .Release.Name }}"
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ .Release.Name }}
            port:
              name: vs-http
