---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ctp
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: ctp
  template:
    metadata:
      labels:
        app-name: ctp
    spec:
      containers:
        - name: ctp-container
          image: "{{ .Values.global.registry_url }}/ctp:{{ .Values.global.kaapana_build_version  }}"
          imagePullPolicy:  {{ .Values.global.pull_policy_images }}
          ports:
            - containerPort: 11112
            - containerPort: 1050
            - containerPort: 7777
          resources:
            requests:
              memory: 1024Mi
            limits:
              memory: 3000Mi
          volumeMounts:
            - name: ctp-data
              mountPath: /data/
            - name: ctp-logs
              mountPath: /opt/CTP/logs
            - name: config-file
              mountPath: /opt/CTP/config.xml
              subPath: config.xml
            - name: launcher-properties
              mountPath: /opt/CTP/Launcher.properties
              subPath: Launcher.properties
      volumes:
      - name: ctp-data
        persistentVolumeClaim:
          claimName: ctp-data-pv-claim
      - name: ctp-logs
        persistentVolumeClaim:
          claimName: ctp-log-pv-claim
      - name: config-file
        configMap:
          name: ctp-config
          items:
          - key: config.xml
            path: config.xml
      - name: launcher-properties
        configMap:
          name: ctp-config
          items:
          - key: Launcher.properties
            path: Launcher.properties
      priorityClassName: kaapana-high-priority
      imagePullSecrets:
      - name: registry-secret
---
