---
apiVersion: v1
kind: Service
metadata:
  name: ctp-internal-service
  namespace: "{{ .Values.global.services_namespace }}"
  labels:
    app-name: ctp
spec:
  selector:
    app-name: ctp
  type: ClusterIP
  ports:
  - name: ctp-port
    port: 80
    targetPort: 1050
    protocol: TCP
  - name: ctp-http-port
    port: {{ .Values.global.dicom_web_port | default "7777" }}
    targetPort: 7777
---
apiVersion: v1
kind: Service
metadata:
  name: ctp-dicom-service
  namespace: "{{ .Values.global.services_namespace }}"
  labels:
    app-name: ctp
spec:
  selector:
    app-name: ctp
{{- if ne (.Values.global.dicom_port | default "11112") "0" }}
  type: NodePort
  externalTrafficPolicy: Local
  ports:
  - name: ctp-dcm-port
    port: 11112
    targetPort: 11112
    nodePort: {{ .Values.global.dicom_port }}
{{- else }}
  type: ClusterIP
  ports:
  - name: ctp-dcm-port
    port: 11112
    targetPort: 11112
{{- end }}
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: ctp-ingress-ip
  namespace: "{{ .Values.global.services_namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.admin_namespace  }}-auth-check@kubernetescrd
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host:
    http:
      paths:
      - path: /ctp
        pathType: ImplementationSpecific
        backend:
          service:
            name: ctp-internal-service
            port:
              number: 80
      - path: /dicomweb
        pathType: ImplementationSpecific
        backend:
          service:
            name: ctp-internal-service
            port:
              number: {{ .Values.global.dicom_web_port | default "7777"}}
---