---
kind: Service
apiVersion: v1
metadata:
  name: airflow-app-service
  namespace: {{ .Values.global.base_namespace }}
spec:
  selector:
    app-name: airflow-app
  ports:
    - protocol: TCP
      port: 8080
      targetPort: airflow-http
      name: log-http-port
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: airflow-ing-ip-redirect
  namespace: {{ .Values.global.base_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: kube-system-errorpages@kubernetescrd
    traefik.ingress.kubernetes.io/preserve-host: "true"
spec:
  rules:
  - host: 
    http:
      paths:
      - path: /
        backend:
          serviceName: airflow-app-service
          servicePort: log-http-port
---
