apiVersion: v1
kind: Pod
metadata:
  name: kaniko-builder
spec:
  containers:
  - name: kaniko
    image: {{ .Values.global.registry_url }}/kaniko-executor:{{ .Values.global.kaapana_build_version }}
    imagePullPolicy: IfNotPresent
    hostNetwork: true
    resources:
      limits:
        memory: 20Gi
      requests:
        memory: 2Gi
    args:
    - "--dockerfile=DOCKERFILE_PATH"
    - "--context=dir://CONTEXT_DIR"
    - "--destination=DEST"
    - "--compressed-caching=false"
    - "--single-snapshot"
    env:
      - name: NO_PROXY
        value: "localhost,127.0.0.1,.svc,.cluster.local"
    volumeMounts:
    - name: edk
      mountPath: /kaapana/minio
  restartPolicy: Never
  volumes:
  - name: edk
    persistentVolumeClaim:
      claimName: edk-pv-claim
  imagePullSecrets:
      - name: registry-secret