body {
  margin: 0;
  padding: 100px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: white;
  background-color: rgba(0, 71, 156, 0.95);
}

.top-buffer-lg { margin-top:20px; }
.top-buffer-sm { margin-top:10px; }