// $compatibility-font: "Open Sans", "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
// $compatibility-font-weight: 700;

// $workflow_dialog-input-select-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #006BB4;
// $workflow_dialog-force-animation-off: none !important;

// #workflow_dialog {
//     label, select {
//         font-family: $compatibility-font !important;
//     }

//     h1 {
//         font-size: 28px;
//         font-weight: $compatibility-font-weight;
//     }
    
//     h2 {
//         font-size: 21px;
//         font-family: $compatibility-font;
//         font-weight: $compatibility-font-weight;
//     }
    
//     h3 {
//         font-size: 16px;
//         font-family: $compatibility-font;
//         font-weight: $compatibility-font-weight;
//     }

//     select {
//         background-color: white;
        
//         &:focus {
//             box-shadow: $workflow_dialog-input-select-box-shadow;
//             animation: $workflow_dialog-force-animation-off;
//         }
//     }

//     input:focus {
//         box-shadow: $workflow_dialog-input-select-box-shadow;
//         animation: $workflow_dialog-force-animation-off;
//     }

//     .kuiButton {
//         background-color: rgba(255, 255, 255, 0.5);
//         font-kerning: auto;
//         font-weight: $compatibility-font-weight;
//         line-height: 42px;

//         &--secondary {
//             &:hover {
//                 background-color: rgba(180, 225, 255, 0.5);
//                 text-decoration: none;
//             }
//             &:focus{
//                 box-shadow: 0 0 0 1px #fff, 0 0 0 2px #006BB4;
//                 animation: $workflow_dialog-force-animation-off;
//             }
//         }

//         &--danger {
//             &:hover {
//                 background-color:rgba(250, 225, 224, 0.5);
//             }
//             &:focus{
//                 box-shadow: 0 0 0 1px #fff, 0 0 0 2px #BD271E;
//                 animation: $workflow_dialog-force-animation-off;
//             }
//         }
//     }
// }

.datasetManagement {
    width: 100%;

    input[type=text], select {
        width: 100%;
        padding: 8px 8px;
        margin: 6px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=button] {
        width: 100%;
        background-color: rgba(0, 71, 156, 0.95);
        color: white;
        padding: 8px 8px;
        margin: 6px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
    // input[type=submit]:hover {
    //     background-color: #45a049;
    // }
    
    div {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
    }
}