.datasetManagement {
    width: 100%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    input[type=text], select {
        width: 100%;
        padding: 8px 8px;
        margin: 6px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    
    input[type=button] {
        width: 100%;
        background-color: rgba(0, 71, 156, 0.95);
        color: white;
        padding: 8px 8px;
        margin: 6px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
        
    div {
        width: 100%;
        border-radius: 5px;
        padding: 10px;
    }
}