---
global:
  pull_policy_images: "IfNotPresent"
  namespace: "{{ .Values.global.admin_namespace }}"
  dynamicVolumes:
  - name: keycloak

kaapana_database:
  admin: true
  postgres_user: keycloak
  postgres_password: keycloak
  postgres_db: keycloak
  appName: keycloak
