---
global:
  ingress_path: "code-server"
  complete_image: "{{ .Values.global.registry_url }}/code-server:{{ .Values.global.kaapana_build_version  }}"
  namespace: "{{ .Values.global.services_namespace }}"
  dynamicVolumes:
  - name: dags
    mount_path: /kaapana/mounted/workflows/dags
  - name: af-plugins
    mount_path: /kaapana/mounted/workflows/plugins
  envVars:
  - name: WORKSPACE
    value: "/kaapana"