---
global:
  registry_url: ""
  pull_policy_images: ""
  base_namespace: ""
  fast_data_dir: ""
  slow_data_dir: ""
  namespace: "{{ .Values.global.services_namespace }}"
  dynamicVolumes:
  - name: minio
    mount_path: /kaapana/mounted/mitk-data
