kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}
  namespace: {{ tpl .Values.global.namespace .  }}
  labels:
    k8s-app: rateme
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app-name: {{ .Release.Name }}
    spec:
      # securityContext:
      #   runAsUser: 1000
      containers:
      - name: rateme
        image: "{{ .Values.global.registry_url }}/rateme:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        resources:
          requests:
            memory: "10Mi"
          limits:
            memory: "200Mi"
        ports:
        - name: rateme-http
          containerPort: 8050
        env:
        - name: INGRESS_PATH
          value: {{ printf "/%s" .Release.Name }}
        - name: BATCH_NAME
          value: "{{ .Values.batch_name | default ""}}"
        - name: OPERATOR_OUT_DIR
          value: "{{ .Values.operator_out_dir | default ""}}"
        - name: ANNOTATOR
          value: "{{ .Values.username | default "annotator"}}"
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
      volumes:
{{ include "dynamicVolumes" $ | indent 6 }}
      imagePullSecrets:
      - name: registry-secret
