apiVersion: v1
kind: Service
metadata:
  namespace: {{ .Values.global.security_namespace }}
  name: security-wazuh-service
  annotations:
    #traefik.ingress.kubernetes.io/service.passhostheader: "false" #todo: only needed while we cannot automatically login with kaapana user
spec:
  type: NodePort
  ports:
    - name: "wazuh-dashboard"
      port: 80
      targetPort: 5601
    - name: "wazuh-api"
      port: 55000
      targetPort: 55000
    - name: "wazuh-agent"
      protocol: TCP
      port: 1515
      targetPort: 1515
      nodePort: 1515
    - name: "wazuh-agent-registration"
      protocol: TCP
      port: 1514
      targetPort: 1514
      nodePort: 1514
  selector:
    app-name: security-wazuh
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: security-wazuh-redirect
  namespace: {{ .Values.global.security_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
spec:
  rules:
  - host:
    http:
      paths:
      - path: /security-wazuh
        pathType: ImplementationSpecific
        backend:
          service:
            name: security-wazuh-service
            port:
              number: 80
  # - host: "wazuh.{{ .Values.global.hostname }}"
  #   http:
  #     paths:
  #     - path: 
  #       pathType: ImplementationSpecific
  #       backend:
  #         service:
  #           name: security-wazuh-service
  #           port:
  #             number: 1515
  #     - path: 
  #       pathType: ImplementationSpecific
  #       backend:
  #         service:
  #           name: security-wazuh-service
  #           port:
  #             number: 1514
---