---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-deployment
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: minio
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app-name: minio
    spec:
      initContainers:
        - name: init
          image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version  }}"
          imagePullPolicy: {{ .Values.global.pull_policy_images }}
          env:
            - name: WAIT
              value: "keycloak,keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc,443"
            - name: DELAY
              value: "3"
            - name: TIMEOUT
              value: "10"
      containers:
      - name: minio
        image: "{{ .Values.global.registry_url }}/minio:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        command: ["minio"]
        args: ["server", "/kaapana/mounted/minio", "--address", "0.0.0.0:9000"]
        env:
        - name: MINIO_BROWSER
          value: "off"
        - name: MINIO_ROOT_USER
          value: "{{ .Values.global.credentials_minio_username }}"
        - name: MINIO_ROOT_PASSWORD
          value: "{{ .Values.global.credentials_minio_password }}"
        - name: MINIO_IDENTITY_OPENID_CONFIG_URL
          value: "http://keycloak-external-service.{{  .Values.global.admin_namespace  }}.svc:80/auth/realms/kaapana/.well-known/openid-configuration"
        - name: MINIO_IDENTITY_OPENID_CLIENT_ID
          value: "kaapana"
        - name: MINIO_IDENTITY_OPENID_CLIENT_SECRET
          value: "{{ .Values.global.oidc_client_secret }}"
        - name: MINIO_IDENTITY_OPENID_CLAIM_NAME
          value: "policy"
        - name: MINIO_IDENTITY_OPENID_REDIRECT_URI
          value: "https://{{ .Values.global.hostname }}:{{ .Values.global.https_port }}/minio-console/oauth_callback/"
        # - name: MINIO_SERVER_DEBUG
        #   value: "on"
        ports:
        - containerPort: 9000
        resources:
          requests:
            memory: 200Mi
          limits:
            memory: 1000Mi
        volumeMounts:
        - name: minio-data
          mountPath: "/kaapana/mounted/minio"
      volumes:
      - name: minio-data
        persistentVolumeClaim:
          claimName: minio-pv-claim
      imagePullSecrets:
      - name: registry-secret
---