---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: minio-deployment
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: minio
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: minio
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9000"
        prometheus.io/path: "/minio/metrics/v3"
        prometheus.io/scheme: "http"
        prometheus.io/custom_job_name: "minio"
        prometheus.io/scrape_interval: "30s"
        prometheus.io/scrape_timeout: "10s"
    spec:
{{- include "kaapana.nodeSelector" . | indent 6 }}
      initContainers:
        - name: init
          image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version  }}"
          imagePullPolicy: {{ .Values.global.pull_policy_images }}
          env:
            - name: WAIT
              value: "keycloak,keycloak-external-service.{{  .Values.global.admin_namespace  }}.svc,80,/auth/realms/kaapana/.well-known/openid-configuration"
            - name: DELAY
              value: "3"
            - name: TIMEOUT
              value: "10"
      containers:
      - name: minio
        image: "{{ .Values.global.registry_url }}/minio:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        command: ["minio"]
        args: ["server", "--console-address", ":9090", "/kaapana/mounted/minio"]
        env:
        - name: MINIO_ROOT_USER
          value: "{{ .Values.global.credentials_minio_username }}"
        - name: MINIO_ROOT_PASSWORD
          value: "{{ .Values.global.credentials_minio_password }}"
        - name: MINIO_PROMETHEUS_AUTH_TYPE
          value: "public"
        - name: MINIO_IDENTITY_OPENID_CONFIG_URL
          value: "http://keycloak-external-service.{{  .Values.global.admin_namespace  }}.svc:80/auth/realms/kaapana/.well-known/openid-configuration"
        - name: MINIO_IDENTITY_OPENID_SCOPES
          value: "openid,profile,email,roles"
        - name: MINIO_IDENTITY_OPENID_CLIENT_ID
          value: "kaapana"
        - name: MINIO_IDENTITY_OPENID_CLIENT_SECRET
          value: "{{ .Values.global.oidc_client_secret }}"
        - name: MINIO_IDENTITY_OPENID_CLAIM_NAME
          value: "policy"
        - name: MINIO_IDENTITY_OPENID_REDIRECT_URI
          value: "https://{{ .Values.global.hostname }}:{{ .Values.global.https_port }}/minio-console/oauth_callback/"
        - name:  MINIO_BROWSER_REDIRECT_URL
          value: "https://{{ .Values.global.hostname }}:{{ .Values.global.https_port }}/minio-console/"
        - name: http_proxy
          value: "{{ .Values.global.http_proxy }}"
        - name: https_proxy
          value: "{{ .Values.global.http_proxy }}"
        - name: no_proxy
          value: ".svc,.svc.cluster,.svc.cluster.local,{{ .Values.global.hostname }}"
        ports:
        - containerPort: 9000
        - containerPort: 9090
        resources:
          requests:
            memory: 200Mi
          limits:
            memory: 5500Mi
        volumeMounts:
        - name: minio-data
          mountPath: "/kaapana/mounted/minio"
        - name: kaapana-cert
          mountPath: /root/.minio/certs/CAs/kaapana.pem
          subPath: tls.crt
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
      volumes:
      - name: minio-data
        persistentVolumeClaim:
          claimName: minio-pv-claim
      - name: kaapana-cert
        secret:
          secretName: certificate
          defaultMode: 420
      imagePullSecrets:
      - name: registry-secret
---