---
apiVersion: v1
kind: Service
metadata:
  name: minio-service
  namespace: {{ .Values.global.store_namespace }}
  labels:
    app-name: minio
spec:
  selector:
    app-name: minio
{{- if .Values.global.dev_ports }}
  type: NodePort
  ports:
    - port: 9000
      protocol: TCP
      targetPort: 9000
      nodePort: 9000
{{- else }}
  type: ClusterIP
  ports:
    - port: 9000
      protocol: TCP
      targetPort: 9000
{{- end }}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: minio-ingress
  namespace: {{ .Values.global.store_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: kube-system-errorpages@kubernetescrd
    # ingress.kubernetes.io/custom-request-headers: "Authorization:||cookie:"
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host:
    http:
      paths:
      - path: /minio
        backend:
          serviceName: minio-service
          servicePort: 9000
  - host:
    http:
      paths:
      - path: /uploads
        backend:
          serviceName: minio-service
          servicePort: 9000
  - host:
    http:
      paths:
      - path: /downloads
        backend:
          serviceName: minio-service
          servicePort: 9000
---