---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: workflow-ui
  namespace: "{{ .Values.global.services_namespace }}"
  labels:
    app.kubernetes.io/name: workflow-ui
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: workflow-ui
  template:
    metadata:
      labels:
        app.kubernetes.io/name: workflow-ui
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      initContainers:
      - name: workflow-ui-wait
        image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_images }}
        env:
        - name: WAIT
          value: "workflow-api,workflow-api.{{ .Values.global.services_namespace }}.svc,80"
        - name: DELAY
          value: "2"
        - name: TIMEOUT
          value: "10"
      containers:
      - name: workflow-ui
        image: "{{ .Values.global.registry_url }}/workflow-ui:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_images }}
        ports:
        - name: workflow-ui-http
          containerPort: 5000
        livenessProbe:
          httpGet:
            path: /
            port: workflow-ui-http
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
{{- if .Values.global.dev_files }}
          requests:
            memory: 10Gi
          limits:
            memory: 10Gi
{{- else }}
          requests:
            memory: 10Mi
          limits:
            memory: 10Mi
{{- end }}
        volumeMounts:
{{- if .Values.global.dev_files }}
          - name: workflow-ui-dev-files
            mountPath: /app/src
{{- end }}
          - name: tmp
            mountPath: /tmp
        securityContext:
          allowPrivilegeEscalation: false
{{- if .Values.global.dev_files }}
          readOnlyRootFilesystem: false
{{- else }}
          readOnlyRootFilesystem: true
{{- end }}
      volumes:
{{- if .Values.global.dev_files }}
      - name: workflow-ui-dev-files
        persistentVolumeClaim:
          claimName: {{ .Chart.Name }}-dev-pv-claim
{{- end }}
