---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-helm-deployment
  namespace: "{{  .Values.global.admin_namespace  }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: kube-helm
      app.kubernetes.io/component: backend
  template:
    metadata:
      labels:
        app.kubernetes.io/name: kube-helm
        app.kubernetes.io/component: backend
    spec:
      containers:
      - name: kube-helm
        image: "{{ $.Values.global.registry_url }}/kube-helm:{{ $.Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ $.Values.global.pull_policy_images }}
        resources:
          limits:
            memory: "1Gi"
          requests:
            memory: "100Mi"
        env: # Environment variables
        - name: SECRET_KEY
          value: "kaapana-secret"
        - name: APPLICATION_ROOT
          value: "/kube-helm-api"
        - name: HELM_PATH
          value: "/usr/local/bin/helm"
        - name: RELEASE_NAME
          value: {{ $.Values.global.release_name }}
        - name: HELM_NAMESPACE
          value: {{ $.Values.global.helm_namespace }}
        - name: REGISTRY_URL
          value: {{ $.Values.global.registry_url }}
        - name: KAAPANA_BUILD_VERSION
          value: "{{ .Values.global.kaapana_build_version }}"
        - name: OFFLINE_MODE
          value: "{{ $.Values.global.offline_mode }}"
        - name: KAAPANA_COLLECTIONS
          value: "{{- range $collection := $.Values.global.kaapana_collections }}{{ $.Values.global.registry_url }}/{{ $collection.name }}:{{ $.Values.global.kaapana_build_version  }};{{- end }}"
        - name: PREINSTALL_EXTENSIONS
          value: '[{{- range $extension := $.Values.global.preinstall_extensions }}{"name": "{{ $extension.name }}", "version": "{{ $extension.version }}"},{{- end }}]'
        - name: PREFETCH_EXTENSIONS
          value: "{{ $.Values.global.prefetch_extensions }}"
{{- if $.Values.global.http_proxy }}
        - name: http_proxy
          value: {{ .Values.global.http_proxy }}
        - name: https_proxy
          value: {{ .Values.global.https_proxy }}
        - name: no_proxy
          value:  ".svc,.svc.cluster,.svc.cluster.local,{{ .Values.global.hostname }},{{ join "," .Values.global.internalCidrs }}"
{{- end }}
{{- if .Values.global.dev_files }}
        - name: DEV_FILES
          value: "True"
{{- end }}

{{- with .Values.timeouts }}
  {{- if hasKey . "shellCmdDefaultTimeout" }}
        - name: SHELL_CMD_DEFAULT_TIMEOUT
          value: "{{ .shellCmdDefaultTimeout }}"
  {{- end }}
  {{- if hasKey . "helmPullContainerTimeout" }}
        - name: HELM_PULL_CONTAINER_TIMEOUT
          value: "{{ .helmPullContainerTimeout }}"
  {{- end }}
  {{- if hasKey . "helmInstallTimeout" }}
        - name: HELM_INSTALL_TIMEOUT
          value: "{{ .helmInstallTimeout }}"
  {{- end }}
  {{- if hasKey . "helmDeletionTimeout" }}
        - name: HELM_DELETION_TIMEOUT
          value: "{{ .helmDeletionTimeout }}"
  {{- end }}
{{- end }}
        ports: # Port(s) on which your application runs
          - containerPort: 5000
        volumeMounts:
{{- if .Values.global.dev_files }}
          - name: kaapana-dev-files
            mountPath: /app
{{- end }}
          - name: helmextensions
            mountPath: "/kaapana/mounted/extensions"
          - name: helmplatforms
            mountPath: "/kaapana/mounted/platforms"
          - name: containerd-socket
            mountPath: "/kaapana/mounted/containerd.sock"
          - name: tmp
            mountPath: "/tmp"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
      volumes:
      - name: containerd-socket
        hostPath:
          path: /var/snap/microk8s/common/run/containerd.sock
      - name: tmp
        emptyDir: {}
      - name: helmextensions
        persistentVolumeClaim:
          claimName: extensions-pv-claim
      - name: helmplatforms
        hostPath:
          path: "{{ $.Values.global.fast_data_dir }}/platforms"
          type: DirectoryOrCreate
{{- if .Values.global.dev_files }}
      - name: kaapana-dev-files
        persistentVolumeClaim:
          claimName: {{ .Chart.Name }}-dev-pv-claim
{{- end }}
      serviceAccountName: kaapana-kube-admin
      priorityClassName: kaapana-high-priority
      imagePullSecrets:
      - name: registry-secret
---
