fastapi==0.136.1
uvicorn==0.47.0
sqlalchemy==2.0.49
psycopg2-binary==2.9.12
asyncpg==0.31.0
httpx==0.28.1
cryptography==48.0.0
kaapana-containers @ file:///lib/kaapana_containers
kaapana-extensions @ file:///lib/kaapana_extensions
