fastapi==0.136.1
uvicorn
sqlalchemy==2.0.49
psycopg2-binary
asyncpg
httpx
kaapana-extensions@git+https://codebase.helmholtz.cloud/kaapana/kaapana.git@feature/2161-build-toolchain#subdirectory=lib/kaapana_extensions