fastapi==0.136.1
uvicorn
sqlalchemy==2.0.49
psycopg2-binary
asyncpg
httpx
kaapana-extensions@git+https://codebase.helmholtz.cloud/kaapana/kaapana.git@3b61c220528ce4b649466838bb1db3fde89ae394#subdirectory=lib/kaapana_extensions