---
#  Licensed to the Apache Software Foundation (ASF) under one   *
#  or more contributor license agreements.  See the NOTICE file *
#  distributed with this work for additional information        *
#  regarding copyright ownership.  The ASF licenses this file   *
#  to you under the Apache License, Version 2.0 (the            *
#  "License"); you may not use this file except in compliance   *
#  with the License.  You may obtain a copy of the License at   *
#                                                               *
#    http://www.apache.org/licenses/LICENSE-2.0                 *
#                                                               *
#  Unless required by applicable law or agreed to in writing,   *
#  software distributed under the License is distributed on an  *
#  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY       *
#  KIND, either express or implied.  See the License for the    *
#  specific language governing permissions and limitations      *
#  under the License.                                           *
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-rbac
  namespace: "{{ .Values.global.services_namespace }}"
subjects:
  - kind: ServiceAccount
    name: default
    namespace: "{{ .Values.global.services_namespace }}"
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: admin-rbac-jobs
  namespace: "{{ .Values.global.services_namespace }}"
subjects:
  - kind: ServiceAccount
    name: default
    namespace: "{{ .Values.global.jobs_namespace }}"
roleRef:
  kind: ClusterRole
  name: cluster-admin
  apiGroup: rbac.authorization.k8s.io
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: airflow
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: airflow
  template:
    metadata:
      labels:
        app-name: airflow
    spec:
      initContainers:
      - name: service-kaapana-plugin-check
        image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_jobs }}
        env:
        - name: WAIT
          value: "postgres,postgres-airflow,5432;prometheus,prometheus-service.{{  .Values.global.services_namespace  }}.svc,9090"
        - name: DELAY
          value: "5"
        - name: FILES_AND_FOLDERS_EXISTS
          value: "/root/airflow/plugins/kaapana"
        volumeMounts:
        - name: airflow-plugins
          mountPath: /root/airflow/plugins
      - name: init-airflow-db
        image: "{{ .Values.global.registry_url }}/airflow:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
        args: ["init"]
        resources:
          requests:
            memory: 250Mi
          limits:
            memory: 250Mi
        volumeMounts:
        - name: airflow-configmap
          mountPath: /root/airflow/airflow.cfg
          subPath: airflow.cfg
        - name: airflow-webserver-config
          mountPath: /root/airflow/webserver_config.py
          subPath: webserver_config.py
        - name: airflow-dags
          mountPath: /root/airflow/dags
        - name: airflow-plugins
          mountPath: /root/airflow/plugins
        env:
        - name: SERVICES_NAMESPACE
          value: "{{ .Values.global.services_namespace }}"
        - name: EXTENSIONS_NAMESPACE
          value: "{{ .Values.global.extensions_namespace }}"
        - name: JOBS_NAMESPACE
          value: "{{ .Values.global.jobs_namespace }}"
        - name: SYSTEM_NAMESPACE
          value: "{{ .Values.global.system_namespace }}"
        - name: AIRFLOW_HOME
          value: "/root/airflow"
        - name: INSTANCE_NAME
          value: "{{ .Values.global.instance_name }}"
        - name: SQL_ALCHEMY_CONN
          valueFrom:
            secretKeyRef:
              name: airflow-secrets
              key: sql_alchemy_conn
      containers:
      - name: webserver
        image: "{{ .Values.global.registry_url }}/airflow:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
        ports:
        - name: webserver
          containerPort: 8080
        args: ["webserver"]
        env:
        - name: AIRFLOW_HOME
          value: "/root/airflow"
        - name: AIRFLOW__LOGGING__LOGGING_LEVEL
          value: "INFO"
        - name: DATADIR
          value: "{{ .Values.global.fast_data_dir }}/workflows/data"
        - name: MODELDIR
          value: "{{ .Values.global.fast_data_dir }}/workflows/models"
        - name: PLATFORM_VERSION
          value: "{{ .Values.global.platform_version }}"
        - name: KAAPANA_BUILD_VERSION
          value: "{{ .Values.global.kaapana_build_version }}"
        - name: HOSTDOMAIN
          value: "{{ .Values.global.hostname }}"
        - name: HTTPS_PORT
          value: "{{ .Values.global.https_port }}"
        - name: INSTANCE_NAME
          value: "{{ .Values.global.instance_name }}"
        - name: SERVICES_NAMESPACE
          value: "{{ .Values.global.services_namespace }}"
        - name: EXTENSIONS_NAMESPACE
          value: "{{ .Values.global.extensions_namespace }}"
        - name: JOBS_NAMESPACE
          value: "{{ .Values.global.jobs_namespace }}"
        - name: SYSTEM_NAMESPACE
          value: "{{ .Values.global.system_namespace }}"
        - name: GPU_SUPPORT
          value: "{{ .Values.global.gpu_support }}"
        - name: SQL_ALCHEMY_CONN
          valueFrom:
            secretKeyRef:
              name: airflow-secrets
              key: sql_alchemy_conn
        resources:
          requests:
            memory: 600Mi
          limits:
            memory: 3000Mi
        volumeMounts:
        - name: airflow-configmap
          mountPath: /root/airflow/airflow.cfg
          subPath: airflow.cfg
        - name: airflow-webserver-config
          mountPath: /root/airflow/webserver_config.py
          subPath: webserver_config.py
        - name: airflow-dags
          mountPath: /root/airflow/dags
        - name: airflow-plugins
          mountPath: /root/airflow/plugins
        - name: airflow-logs
          mountPath: /root/airflow/logs
        - name: modeldata
          mountPath: /models
        # readinessProbe:
        #   initialDelaySeconds: 120
        #   timeoutSeconds: 5
        #   periodSeconds: 5
        #   httpGet:
        #     path: /flow/kaapana/api/getdags
        #     port: 8080
        # livenessProbe:
        #   initialDelaySeconds: 300
        #   periodSeconds: 120
        #   timeoutSeconds: 5
        #   failureThreshold: 5
        #   httpGet:
        #     path: /flow
        #     port: 8080
      - name: scheduler
        image: "{{ .Values.global.registry_url }}/airflow:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
        args: ["scheduler"]
        env:
        - name: DEFAULT_REGISTRY
          value: "{{ .Values.global.registry_url }}"
        - name: AIRFLOW__LOGGING__LOGGING_LEVEL
          value: "INFO"
        - name: AIRFLOW_HOME
          value: "/root/airflow"
        - name: DATADIR
          value: "{{ .Values.global.fast_data_dir }}/workflows/data"
        - name: MODELDIR
          value: "{{ .Values.global.fast_data_dir }}/workflows/models"
        - name: MINIODIR
          value: "{{ .Values.global.slow_data_dir }}/minio"
        - name: KAAPANA_DEV_DIR
          value: "{{ .Values.global.fast_data_dir }}/minio/kaapana-dev-data"
        - name: PROXY
          value: "{{ .Values.global.http_proxy }}"
        - name: PLATFORM_VERSION
          value: "{{ .Values.global.platform_version }}"
        - name: KAAPANA_BUILD_VERSION
          value: "{{ .Values.global.kaapana_build_version }}"
        - name: HOSTDOMAIN
          value: "{{ .Values.global.hostname }}"
        - name: HTTPS_PORT
          value: "{{ .Values.global.https_port }}"
        - name: INSTANCE_NAME
          value: "{{ .Values.global.instance_name }}"
        - name: GPU_SUPPORT
          value: "{{ .Values.global.gpu_support }}"
        - name: INSTANCE_ID
          value: "{{ .Values.global.instance_id }}"
        - name: SERVICES_NAMESPACE
          value: "{{ .Values.global.services_namespace }}"
        - name: EXTENSIONS_NAMESPACE
          value: "{{ .Values.global.extensions_namespace }}"
        - name: JOBS_NAMESPACE
          value: "{{ .Values.global.jobs_namespace }}"
        - name: SYSTEM_NAMESPACE
          value: "{{ .Values.global.system_namespace }}"
        - name: PULL_POLICY_PODS
          value: "{{ .Values.global.pull_policy_pods }}"
        - name: MINIOUSER
          value: "{{ .Values.global.credentials_minio_username }}"
        - name: MINIOPASSWORD
          value: "{{ .Values.global.credentials_minio_password }}"
        - name: SQL_ALCHEMY_CONN
          valueFrom:
            secretKeyRef:
              name: airflow-secrets
              key: sql_alchemy_conn
        resources:
          requests:
            memory: 2500Mi
          limits:
            memory: 20000Mi
        volumeMounts:
        - name: airflow-configmap
          mountPath: /root/airflow/airflow.cfg
          subPath: airflow.cfg
        - name: airflow-webserver-config
          mountPath: /root/airflow/webserver_config.py
          subPath: webserver_config.py
        - name: airflow-dags
          mountPath: /root/airflow/dags
        - name: airflow-logs
          mountPath: /root/airflow/logs
        - name: airflow-plugins
          mountPath: /root/airflow/plugins
        - name: modeldata
          mountPath: /models
        - name: ctpinput
          mountPath: /ctpinput
        - name: workflowdata
          mountPath: /data
        - name: dicomdir
          mountPath: /pacsdata
      - name: statsd-metrics-exporter
        image: "{{ .Values.global.registry_url }}/statsd-exporter:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
        args: 
          - --statsd.mapping-config=/tmp/statsd_mapping.yaml
          - --web.listen-address=:9102
          - --statsd.listen-udp=:8125
        resources:
          requests:
            memory: 50Mi
          limits:
            memory: 50Mi
        volumeMounts:
        - name: airflow-statsd-config
          mountPath: /tmp/statsd_mapping.yaml
          subPath: statsd_mapping.yaml
      volumes:
      - name: airflow-configmap
        configMap:
          name: airflow-configmap
      - name: airflow-webserver-config
        configMap:
          name: airflow-webserver-config
      - name: airflow-statsd-config
        configMap:
          name: airflow-statsd-config
      - name: airflow-dags
        hostPath:
          path: {{ .Values.global.fast_data_dir }}/workflows/dags
          type: DirectoryOrCreate
      - name: airflow-logs
        hostPath:
          path: {{ .Values.global.fast_data_dir }}/airflow/logs
          type: DirectoryOrCreate
      - name: airflow-plugins
        hostPath:
          path: {{ .Values.global.fast_data_dir }}/workflows/plugins
          type: DirectoryOrCreate
      - name: modeldata
        hostPath:
          path: {{ .Values.global.fast_data_dir }}/workflows/models
          type: DirectoryOrCreate
      - name: ctpinput
        hostPath:
          path: {{ .Values.global.fast_data_dir }}/ctp/incoming
          type: DirectoryOrCreate
      - name: workflowdata
        hostPath:
          path: {{ .Values.global.fast_data_dir }}/workflows/data
          type: DirectoryOrCreate
      - name: dicomdir
        hostPath:
          path: {{ .Values.global.slow_data_dir }}/dcm4che/dicom_data
          type: DirectoryOrCreate
      imagePullSecrets:
      - name: registry-secret
---
