---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: opensearch-de
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: opensearch
  template:
    metadata:
      labels:
        app-name: opensearch
    spec:
      initContainers:
      - name: init-opensearch-certs
        image: "{{ .Values.global.registry_url }}/opensearch-certs:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_images }}
        command: ["sh", "-c", "/certs/generate-certificates.sh && cp -r /certs/* /os/certs && chown -R 1000:1000 /os && chown -R 1000:1000 /kaapana/opensearch-security-backup"]
        volumeMounts:
        - name: osdata
          mountPath: /os/data
        - name: oslogs
          mountPath: /os/logs
        - name: oscerts
          mountPath: /os/certs
        - name: os-security-backup
          mountPath: /kaapana/opensearch-security-backup
        - name: kaapana-cert
          mountPath: /certs/root-ca-key.pem
          subPath: tls.key
        - name: kaapana-cert
          mountPath: /certs/root-ca.pem
          subPath: tls.crt
        securityContext:
          runAsUser: 0
      securityContext:
        runAsUser: 1000
      containers:
        - name: opensearch-container
          image: "{{ .Values.global.registry_url }}/opensearch:{{ .Values.global.kaapana_build_version  }}"
          imagePullPolicy: {{ .Values.global.pull_policy_images }}
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh","backup-security.sh"]
          env:
          - name: DISABLE_INSTALL_DEMO_CONFIG
            value: "true"
          - name: cluster.name
            value: "opensearch-cluster"
          - name: node.name
            value: "{{ .Values.global.hostname }}"
          - name: discovery.seed_hosts
            value: "{{ .Values.global.hostname }}"
          - name: cluster.initial_cluster_manager_nodes
            value: "{{ .Values.global.hostname }}"
          - name: network.host
            value: "0.0.0.0"
          - name: http.host
            value: "0.0.0.0"
          - name: OPENSEARCH_JAVA_OPTS
            value: >
              -Xms{{ div .Values.global.opensearch_memory_request 2 }}m
              -Xmx{{ div .Values.global.opensearch_memory_request 2 }}m
              {{- if .Values.global.http_proxy }}
              -Dhttp.proxyHost={{ (regexFind "^(https?://)?([^:/]+)" .Values.global.http_proxy) | default "" | trimPrefix "http://" | trimPrefix "https://" }}
              -Dhttp.proxyPort={{ (regexFind ":([0-9]+)" .Values.global.http_proxy | trimPrefix ":") | default "80" }}
              -Dhttps.proxyHost={{ (regexFind "^(https?://)?([^:/]+)" .Values.global.http_proxy) | default "" | trimPrefix "http://" | trimPrefix "https://" }}
              -Dhttps.proxyPort={{ (regexFind ":([0-9]+)" .Values.global.http_proxy | trimPrefix ":") | default "80" }}
              -Dhttp.nonProxyHosts=*.svc|*.svc.cluster|*.svc.cluster.local
              {{- end }}
          - name: SERVICES_NAMESPACE
            value: "{{ .Values.global.services_namespace }}"
          - name: http_proxy
            value: "{{ .Values.global.http_proxy }}"
          - name: https_proxy
            value: "{{ .Values.global.http_proxy }}"
          - name: no_proxy
            value: ".svc,.svc.cluster,.svc.cluster.local"
          resources:
            requests:
              memory: "{{ .Values.global.opensearch_memory_request }}Mi"
            limits:
              memory: "{{ .Values.global.opensearch_memory_limit }}Mi"
          volumeMounts:
            - name: oscerts
              mountPath: /usr/share/opensearch/config/root-ca.pem
              subPath: root-ca.pem
            - name: oscerts
              mountPath: /usr/share/opensearch/config/admin.pem
              subPath: admin.pem
            - name: oscerts
              mountPath: /usr/share/opensearch/config/admin-key.pem
              subPath: admin-key.pem
            - name: oscerts
              mountPath: /usr/share/opensearch/config/node1.pem
              subPath: node1.pem
            - name: oscerts
              mountPath: /usr/share/opensearch/config/node1-key.pem
              subPath: node1-key.pem
            - name: osdata
              mountPath: /usr/share/opensearch/data
            - name: oslogs
              mountPath: /usr/share/opensearch/logs
            - name: ossnapshots
              mountPath: /usr/share/opensearch/snapshots
            - name: sec-config
              mountPath: /usr/share/opensearch/config/opensearch.yml
              subPath: opensearch.yml
            - name: sec-config
              mountPath: /usr/share/opensearch/config/opensearch-security/config.yml
              subPath: config.yml
            - name: sec-config
              mountPath: /usr/share/opensearch/config/opensearch-security/internal_users.yml
              subPath: internal_users.yml
            - name: os-security-backup
              mountPath: /kaapana/opensearch-security-backup
          securityContext:
            allowPrivilegeEscalation: false
      volumes:
      - name: os-security-backup
        persistentVolumeClaim:
          claimName: os-security-backup-pv-claim
      - name: oscerts
        persistentVolumeClaim:
          claimName: os-certs-pv-claim
      - name: osdata
        persistentVolumeClaim:
          claimName: os-data-pv-claim
      - name: ossnapshots
        persistentVolumeClaim:
          claimName: os-snapshots-pv-claim
      - name: oslogs
        persistentVolumeClaim:
          claimName: os-logs-pv-claim
      - name: sec-config
        configMap:
          name: os-config
          items:
          - key: opensearch.yml
            path: opensearch.yml
          - key: config.yml
            path: config.yml
          - key: internal_users.yml
            path: internal_users.yml
      - name: kaapana-cert
        secret:
          secretName: certificate
          defaultMode: 420
      imagePullSecrets:
      - name: registry-secret
---