---
apiVersion: v1
kind: Service
metadata:
  name: opensearch-service
  namespace: "{{ .Values.global.services_namespace }}"
  labels:
    app.kubernetes.io/name: opensearch
spec:
  selector:
    app.kubernetes.io/name: opensearch
  type: ClusterIP
  ports:
  - name: os-api
    port: 9200
    targetPort: 9200
    protocol: TCP
  - name: os-pa
    port: 9600
    targetPort: 9600
    protocol: TCP
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: os-strip-prefix
  namespace: "{{  .Values.global.services_namespace  }}"
spec:
  stripPrefix:
    prefixes:
    - /os
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: os-ip
  namespace: "{{ .Values.global.services_namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.services_namespace  }}-os-strip-prefix@kubernetescrd
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host: 
    http:
      paths:
      - path: /os
        pathType: ImplementationSpecific
        backend:
          service:
            name: opensearch-service
            port:
              name: os-api
        
---