---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  namespace: "{{  .Values.global.helm_namespace  }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: oauth2-proxy
  template:
    metadata:
      labels:
        app-name: oauth2-proxy
    spec:
      initContainers:
      - name: init
        image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_images }}
        env:
          - name: WAIT

            value: "keycloak,keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc,443"
          - name: DELAY
            value: "3"
          - name: TIMEOUT
            value: "10"
      containers:
        - name: oauth2-proxy-container
          image: "{{ .Values.global.registry_url }}/oauth2-proxy:{{ .Values.global.kaapana_build_version  }}"
          imagePullPolicy:  {{ .Values.global.pull_policy_images }}
          args:
        {{- if ne (.Values.global.https_port | default "443") "443" }}
          - --login-url=https://{{ required "A valid hostname (or fqdn) is required!" $.Values.global.hostname }}:{{ .Values.global.https_port }}/auth/realms/kaapana/protocol/openid-connect/auth
          - --oidc-issuer-url=https://{{ required "A valid hostname (or fqdn) is required!" $.Values.global.hostname }}:{{ .Values.global.https_port }}/auth/realms/kaapana
        {{- else }}
          - --login-url=https://{{ required "A valid hostname (or fqdn) is required!" $.Values.global.hostname }}/auth/realms/kaapana/protocol/openid-connect/auth
          - --oidc-issuer-url=https://{{ required "A valid hostname (or fqdn) is required!" $.Values.global.hostname }}/auth/realms/kaapana
        {{- end }}
          - --upstream=https://traefik-{{  .Values.global.instance_uid  | default 0 }}.{{ .Values.global.helm_namespace }}.svc:{{ .Values.global.https_port }}
          - --provider=keycloak-oidc
          - --client-id=kaapana
          - --client-secret=uQBJzc2YDzjRfj2OCT79JDShojeqAK2R
          - --cookie-secret=P7AiFgxZhLuuTZ2iuIQHSnYWrDlU_NVaA-Su1dZ9HMQ=
          - --redeem-url=https://keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc/auth/realms/kaapana/protocol/openid-connect/token
          - --oidc-jwks-url=https://keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc/auth/realms/kaapana/protocol/openid-connect/certs
          - --profile-url=https://keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc/auth/realms/kaapana/protocol/openid-connect/userinfo
          - --custom-templates-dir=/usr/share/oauth2-proxy
          - --https-address=0.0.0.0:8443
          - --metrics-address=:8081
          - --tls-cert-file=/ssl/tls.crt 
          - --tls-key-file=/ssl/tls.key
          - --ssl-insecure-skip-verify
          - --cookie-expire=30m
          - --cookie-refresh=5m
          - --ssl-upstream-insecure-skip-verify
          - --skip-provider-button
          - --skip-oidc-discovery
          - --skip-jwt-bearer-tokens
          - --insecure-oidc-allow-unverified-email 
          - --email-domain=*
          - --skip-auth-route=^/auth/*
          - --skip-auth-route=^/kaapana-backend/remote/*
          - --pass-access-token 
          - --reverse-proxy
          - --show-debug-on-error
          # - --force-https=true
          ports:
          - name: metrics
            containerPort: 8081
          # - name: http
          #   containerPort: 8080
          - name: https
            containerPort: 8443
          resources:
            requests:
              memory: 50Mi
            limits:
              memory: 150Mi
          volumeMounts:
            - name: ssl-config
              mountPath: /ssl
      volumes:
      - name: ssl-config
        secret:
          secretName: certificate
      imagePullSecrets:
      - name: registry-secret
---
