apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  namespace: "{{ .Values.global.helm_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: oauth2-proxy
  template:
    metadata:
      labels:
        app.kubernetes.io/name: oauth2-proxy
      annotations:
        prometheus.io/scrape: "true"
        # Port Configured in current prometheus configmap
        # What about the 8081 metrics port?
        prometheus.io/port: "8443"
        prometheus.io/path: "/oauth2/metrics"
        prometheus.io/scheme: "https"
        prometheus.io/custom_job_name: "oauth2-proxy"
        prometheus.io/scrape_interval: "30s"
        prometheus.io/scrape_timeout: "10s"
        prometheus.io/insecure_skip_verify: "true"
    spec:
      initContainers:
      - name: init
        image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        env:
          - name: WAIT
            value: "keycloak,keycloak-internal-service.{{ .Values.global.admin_namespace }}.svc,443"
          - name: DELAY
            value: "3"
          - name: TIMEOUT
            value: "10"
      containers:
        - name: oauth2-proxy-container
          image: "{{ .Values.global.registry_url }}/oauth2-proxy:{{ .Values.global.kaapana_build_version }}"
          imagePullPolicy: {{ .Values.global.pull_policy_images }}
          args:
          - --config=/etc/oauth2-proxy/oauth2-proxy.cfg
          ports:
          - name: metrics
            containerPort: 8081
          - name: https
            containerPort: 8443
          resources:
            requests:
              memory: 50Mi
            limits:
              memory: 150Mi
          volumeMounts:
            - name: ssl-config
              mountPath: /ssl
            - name: config-volume
              mountPath: /etc/oauth2-proxy
              readOnly: true
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      volumes:
      - name: ssl-config
        secret:
          secretName: certificate
      - name: config-volume
        configMap:
          name: oauth2-proxy-cfg
      priorityClassName: kaapana-high-priority
      imagePullSecrets:
      - name: registry-secret
