---
apiVersion: v1
kind: Service
metadata:
  name: alertmanager-service
  namespace: "{{ .Values.global.services_namespace }}"

  labels:
    app-name: alertmanager
spec:
  selector:
    app-name: alertmanager
  ports:
    - port: 9093
      protocol: TCP
      targetPort: 9093
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: alert-strip-prefix
  namespace: "{{  .Values.global.services_namespace  }}"
spec:
  stripPrefix:
    prefixes:
    - /alert
    forceSlash: true
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: alertmanager-ingress
  namespace: "{{ .Values.global.services_namespace }}"

  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.services_namespace  }}-auth-check@kubernetescrd,{{  .Values.global.services_namespace  }}-alert-strip-prefix@kubernetescrd
spec:
  rules:
  - host: 
    http:
      paths:
      - path: /alert
        pathType: ImplementationSpecific
        backend:
          service:
            name: alertmanager-service
            port:
              number: 9093
---