---
global:
  default_jobs_requests_mem: "50Mi"
  default_jobs_limits_mem: "50Mi"
  dynamicVolumes:
  - name: tensorboard
    storage_class: workflow
    storage: 10Gi
  - name: models
    storage_class: workflow
    storage: 200Gi
  - name: workflow-data
    storage_class: workflow
    storage: 200Gi
  sharedVolumes: 
    ### For Local Operators managed by KubernetesExecutor, will be deprecated when local operators are removed
  - name: af-plugins
    host_path: /workflows/plugins
  - name: dags
    host_path: /workflows/dags
  - name: af-logs
    host_path: /airflow/logs


kaapana_database:
  admin: false
  postgres_user: root
  postgres_password: root
  postgres_db: airflow
  appName: airflow
