---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: m2olie-backend
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: m2olie-backend
      app.kubernetes.io/component: backend
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app.kubernetes.io/name: m2olie-backend
        app.kubernetes.io/component: backend
    spec:
      containers:
      - name: m2olie-backend
        image: "{{ .Values.global.registry_url }}/m2olie-backend:{{ .Values.global.kaapana_build_version }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_images }}
        # command: ["tail"]
        # args: ["-f", "/dev/null"] 
        command: ["/bin/sh"]
        args: ["/kaapana/app/boot.sh"] 
        env: # Environment variables
        - name: SECRET_KEY
          value: kaapana-secret
        - name: INSTANCE_NAME
          value: {{ .Values.global.instance_name | default "central" }}
        - name: HOSTNAME
          value: {{ .Values.global.hostname | default "" }}
        - name: HTTPS_PORT
          value: "{{ .Values.global.https_port }}"
        - name: http_proxy
          value: {{ .Values.global.http_proxy }}
        - name: https_proxy
          value: {{ .Values.global.http_proxy }}
        - name: no_proxy
          value: ".svc,.svc.cluster,.svc.cluster.local"
        - name: SERVICES_NAMESPACE
          value: "{{  .Values.global.services_namespace  }}"
        - name: AIRFLOW_URL
          value: "http://airflow-webserver-service.{{  .Values.global.services_namespace  }}.svc:8080/flow/kaapana/api"
        - name: APPLICATION_ROOT
          value: "/m2olie"
        - name: PORT
          value: "5000"
        - name: WORKERS
          value: "4"
        - name: KAAPANA_PROJECT_USER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: system-user-password
              key: system-user-password
        - name: KAAPANA_PROJECT_USER_NAME
          value: "system"
        - name: KAAPANA_CLIENT_SECRET
          value: "{{ .Values.global.oidc_client_secret }}"
{{- if .Values.global.dev_files }}
        - name: DEV_FILES
          value: "True"
{{- end }}
        ports:
          - containerPort: 5000
        resources:
          limits:
            memory: "1Gi"
          requests:
            memory: "500Mi"      
{{- if .Values.global.dev_files }}
        volumeMounts:
        - name: kaapana-dev-files
          mountPath: /kaapana/app
{{- end }}
      imagePullSecrets:
        - name: registry-secret  
{{- if .Values.global.dev_files }}
      volumes:
      - name: kaapana-dev-files
        persistentVolumeClaim:
          claimName: {{ .Chart.Name }}-dev-pv-claim
{{- end }}
---