psycopg2-binary == 2.9.10
Flask-Admin==1.6.1
kubernetes==30.1.0
dicom_parser==1.2.3
pint==0.24.4
statsd==4.0.1
cryptography==43.0.3
jupyterlab==4.3.1
task-api@git+https://codebase.helmholtz.cloud/kaapana/kaapana.git@40d994822#subdirectory=lib/task_api