opensearch-py==2.0.0
pathlib==1.0.1
pydicom==2.3.0
jupyterlab==3.3.2
kaleido==0.2.1
kubernetes==25.3.0
minio==7.1.5
plotly==5.7.0
seaborn==0.11.2
# Security fix for CVE-2022-1941
protobuf==3.20.2
# Security fix for CVE-2022-40898
wheel==0.38.1
# Security fix for CVE-2022-25882
onnx==1.13.0
