elasticsearch
pathlib
pydicom
dicomweb-client
#slackclient
numpy
scikit-learn
kubernetes==11.0.0
minio
bleach
Pillow
plotly
torch
torchvision
transformers
jupyterlab==3.1.1
ipywidgets
matplotlib
seaborn

