apiVersion: v1
data:
  user_settings.json: |-
    {
        "workbench.colorTheme": "Default Dark+",
        "python.defaultInterpreterPath": "/opt/venv/bin/python",
        "chat.disableAIFeatures": true,
        "editor.aiStats.enabled": false,
        "chat.agent.enabled": false,
        "python.defaultInterpreterPath": "/opt/venv/bin/python",
        "workbench.secondarySideBar.defaultVisibility": "hidden"
    }
  launch.json: |-
    {
        "version": "0.2.0",
        "configurations": []
    }
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
---