
apiVersion: v1
kind: Service
metadata:
  name: hello-backend-service
  namespace: "{{ .Values.global.services_namespace }}"
  #namespace: "{{ .Values.global.services_namespace }}"
  labels:
    app-name: hello-backend
spec:
  selector:
    app-name: hello-backend
  ports:
    - name: hb-http
      port: 5000
      targetPort: 5000
      nodePort: 5010 # only for development!
  type: NodePort # only for development!

---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: hello-backend-ingress
  namespace: "{{ .Values.global.services_namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.admin_namespace  }}-errorpages@kubernetescrd
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host:
    http:
      paths:
      - path: /{{ .Values.global.instance_uid }}/hello-backend
        pathType: ImplementationSpecific
        backend:
          service:
            name: hello-backend-service
            port:
              number: 5000
---