{{- $namespace := .Values.global.services_namespace | toString }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: tensorboard-{{ .Values.global.uuid }}
  namespace: "{{ $namespace }}"
  labels:
    k8s-app: tensorboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: tensorboard-{{ .Values.global.uuid }}
  template:
    metadata:
      labels:
        app-name: tensorboard-{{ .Values.global.uuid }}
    spec:
      securityContext:
        runAsUser: 1000
      containers:
      - name: tensorboard
        image: "{{ .Values.global.registry_url }}/tensorboard:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        resources:
          requests:
            memory: "100Mi"
          limits:
            memory: "1Gi"
        env:
          - name: INGRESS_PATH
            value: "/tensorboard-{{ .Values.global.uuid }}"
        volumeMounts:
          {{- range $volumeMount := .Values.global.volumeMounts }}
          - name: {{ $volumeMount.name }}
            mountPath: "{{ $volumeMount.mount_path }}"
          {{- end }}
      volumes:
      {{- range $volume := .Values.global.volumes }}
      - name: {{ $volume.name }}
        persistentVolumeClaim:
          {{- if not (lookup "v1" "PersistentVolumeClaim" $namespace $volume.claim_name ) }}
          claimName: {{ $volume.claim_name }}-pv-claim-{{ $.Values.global.uuid }}
          {{- else }}
          claimName: {{ $volume.claim_name }}
          {{- end }}
      {{- end }}
      imagePullSecrets:
      - name: registry-secret
