apiVersion: v1
kind: ConfigMap
metadata:
  name: access-information-interface-config
  namespace: "{{ .Values.global.services_namespace }}"
data:
  initial_rights.json: | # This is the initial rights that will be created
    [
      {
        "name": "opensearch_access",
        "description": "User gets full access to OpenSearch",
        "claim_key": "opensearch",
        "claim_value": "admin_project"
      },
      {
        "name": "minio_access",
        "description": "User gets full access to Minio",
        "claim_key": "policy",
        "claim_value": "admin_project"
      },
      {
        "name": "manage_project_users",
        "description": "User can manage user roles in this project",
        "claim_key": "kaapana.ai/aii",
        "claim_value": "manage_users"
      },
      {
        "name": "manage_project_software",
        "description": "User can manage software availabel to this project",
        "claim_key": "kaapana.ai/aii",
        "claim_value": "manage_software"
      },
      {
        "name": "kaapana_backend",
        "description": "User gets access to all kaapana-backend routes for this project",
        "claim_key": "kaapana.ai/backend",
        "claim_value": "all"
      },
      {
        "name": "open_project_applications",
        "description": "User can access multiinstallable applications in the selected project.",
        "claim_key": "kaapana.ai/applications",
        "claim_value": "open"
      },
      {
        "name": "manage_project_extensions",
        "description": "User can install projects in the extensions view",
        "claim_key": "kaapana.ai/extensions",
        "claim_value": "manage"
      }
    ]
  initial_roles.json: | # This is the initial roles that will be created
    [
      {
        "name": "scientist",
        "description": "This role grants access to all data in the project"
      },
      {
        "name": "principal-investigator",
        "description": "This role grants access to all data and grants permissions to change the role of users in this project."
      }
    ]
  initial_projects.json: | # This is the initial admin project that will be created
    [
      {
        "name": "admin",
        "description": "Initial admin project",
        "default": true
      }
    ]
  initial_roles_rights_mapping.json: | # This is the mapping of roles to rights
    [
      {
        "role": "scientist",
        "rights": [
          "opensearch_access",
          "minio_access",
          "kaapana_backend",
          "open_project_applications"
        ]
      },
      {
        "role": "principal-investigator",
        "rights": [
          "opensearch_access", 
          "minio_access", 
          "kaapana_backend", 
          "manage_project_users", 
          "manage_project_software", 
          "open_project_applications",
          "manage_project_extensions"
        ]
      }
    ]
  default_software.json: | # These are the default software that a project should be mapped to.
    [
      { "software_uuid": "advanced-collect-metadata"},
      { "software_uuid": "advanced-collect-metadata-federated"},
      { "software_uuid": "body-and-organ-analysis"},
      { "software_uuid": "bodypart-regression"},
      { "software_uuid": "classification-inference"},
      { "software_uuid": "classification-training"},
      { "software_uuid": "clear-validation-results"},
      { "software_uuid": "collect-metadata"},
      { "software_uuid": "delete-series"},
      { "software_uuid": "download-selected-files"},
      { "software_uuid": "evaluate-segmentations"},
      { "software_uuid": "federated-setup-central-test"},
      { "software_uuid": "federated-setup-node-test"},
      { "software_uuid": "generate-thumbnail"},
      { "software_uuid": "import-wsi"},
      { "software_uuid": "import-dicoms-from-data-upload"},
      { "software_uuid": "import-niftis-from-data-upload"},
      { "software_uuid": "isolated-container-workflow"},
      { "software_uuid": "mitk-flow"},
      { "software_uuid": "modify_segmentations"},
      { "software_uuid": "nnunet-federated"},
      { "software_uuid": "nnunet-install-model"},
      { "software_uuid": "nnunet-predict"},
      { "software_uuid": "nnunet-training"},
      { "software_uuid": "nnunet-uninstall-models"},
      { "software_uuid": "radiomics-dcmseg"},
      { "software_uuid": "radiomics-federated-central"},
      { "software_uuid": "send-dicom"},
      { "software_uuid": "service-daily-cleanup-jobs"},
      { "software_uuid": "service-email-send"},
      { "software_uuid": "service-process-incoming-dcm"},
      { "software_uuid": "service-re-index-dicom-data"},
      { "software_uuid": "shapemodel-organ-seg"},
      { "software_uuid": "tag-dataset"},
      { "software_uuid": "tag-seg-ct-tuples"},
      { "software_uuid": "tag-train-test-split-dataset"},
      { "software_uuid": "tfda-spe-orchestrator"},
      { "software_uuid": "total-segmentator"},
      { "software_uuid": "total-segmentator-v2"},
      { "software_uuid": "validate-dicoms"},
      { "software_uuid": "project-dicom-transfer"},
      { "software_uuid": "project-minio-transfer"},
      { "software_uuid": "register-dicoms"},
      { "software_uuid": "test-task-operator"}
    ]

  # Init User, Project and Role mapping will be done at a later stage (FastAPI lifespan init function) to dynamically incorporate the keycloak id.
