---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: access-information-interface
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: access-information-interface
      app.kubernetes.io/component: backend
  strategy:
    type: Recreate
  template: 
    metadata:
      labels:
        app.kubernetes.io/name: access-information-interface
        app.kubernetes.io/component: backend
    spec:
      initContainers:
          - name: init-access-information-interface
            image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version }}"
            imagePullPolicy:  {{ .Values.global.pull_policy_images }}
            env:
              - name: WAIT
                value: "opensearch,opensearch-service.{{  .Values.global.services_namespace  }}.svc,9200;{{ .Values.kaapana_database.appName | default .Chart.Name }}-database-,{{ .Values.kaapana_database.appName | default .Chart.Name }}-database-service.{{  .Values.global.services_namespace  }}.svc,5432;keycloak,keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc,443;minio,minio-service.{{  .Values.global.services_namespace  }}.svc,9090;minio,minio-service.{{  .Values.global.services_namespace  }}.svc,9000,/minio/health/live"
              - name: DELAY
                value: "2"
              - name: TIMEOUT
                value: "10"
      containers:
      - name: access-information-interface
        image: "{{ .Values.global.registry_url }}/access-information-interface:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_images }}
        env:
        - name: DATABASE_URL
          value: postgresql+asyncpg://{{ .Values.kaapana_database.postgres_user}}:{{ .Values.kaapana_database.postgres_password}}@{{ .Values.kaapana_database.appName | default .Chart.Name }}-database-service.{{  .Values.global.services_namespace  }}.svc:5432
        - name: PORT
          value: "8080"
        - name: WORKERS
          value: "4"
        - name: KEYCLOAK_URL
          value: "https://keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc"
        - name: KEYCLOAK_REALM
          value: "kaapana"
        - name: KEYCLOAK_KAAPANA_REALM_USER_NAME
          value: "kaapana"
        - name: KEYCLOAK_ADMIN_USER_NAME
          value: "{{ .Values.global.credentials_keycloak_admin_username }}"
        - name: KEYCLOAK_ADMIN_USER_PASSWORD
          value: "{{ .Values.global.credentials_keycloak_admin_password }}"
        - name: KAAPANA_CLIENT_SECRET
          value: "{{ .Values.global.oidc_client_secret }}"
        - name: KAAPANA_PROJECT_USER_NAME
          value: "system"
        - name: KAAPANA_PROJECT_USER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: system-user-password
              key: system-user-password
        - name: OPENSEARCH_HOST
          value: "opensearch-service.{{ .Values.global.services_namespace }}.svc"
        - name: OPENSEARCH_PORT
          value: "9200"
        - name: KAAPANA_BUILD_VERSION
          value: "{{ .Values.global.kaapana_build_version  }}"
        - name: KEYCLOAK_USER
          value: "{{ .Values.global.credentials_keycloak_admin_username }}"
        - name: KEYCLOAK_PASSWORD
          value: "{{ .Values.global.credentials_keycloak_admin_password }}"
        - name: KEYCLOAK_HOST
          value: "keycloak-internal-service.{{  .Values.global.admin_namespace  }}.svc"
        ports:
          - containerPort: 8080
        resources:
          limits:
            memory: "5Gi"
          requests:
            memory: "100Mi"
        securityContext:
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
        volumeMounts:
        - name: access-information-interface-config
          mountPath: /app/config
          readOnly: true
      volumes:
        - name: access-information-interface-config
          configMap:
            name: access-information-interface-config
      priorityClassName: kaapana-high-priority
      imagePullSecrets:
        - name: registry-secret
