@import "./theme.css";

:root.dark-mode {
  --color-background: var(--color-background-dark);
  --color-background-soft: var(--color-background-soft-dark);
  --color-background-mute: var(--color-background-mute-dark);

  --color-border: var(--color-border-dark);
  --color-border-hover: var(--color-border-hover-dark);

  --color-heading: var(--color-heading-dark);
  --color-text: var(--color-text-dark);
}

:root.light-mode {
  --color-background: var(--color-background-light);
  --color-background-soft: var(--color-background-soft-light);
  --color-background-mute: var(--color-background-mute-light);

  --color-border: var(--color-border-light);
  --color-border-hover: var(--color-border-hover-light);

  --color-heading: var(--color-heading-light);
  --color-text: var(--color-text-light);
}

body {
  transition: color 0.3s, background-color 0.3s;
}