@import "./base.css";

#app {
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
  height: 100vh;
  font-weight: normal;


  --default-margin-value: 30px;
  --default-margin: 0 var(--default-margin-value);
  --default-padding-value: var(--default-margin-value);
  --default-padding: 0 var(--default-padding-value);
  --default-border: 1px solid var(--color-border);
  --default-border-radius: 5px;
}

strong {
  font-weight: bold;
}