elasticsearch
pathlib
pydicom
dicomweb-client
#slackclient
numpy
scikit-learn
kubernetes==11.0.0
minio
bleach
Pillow
plotly
torch
torchvision
transformers
jupyterlab==2.2.8
ipywidgets
matplotlib
seaborn

