kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
  labels:
    k8s-app: code-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app-name: {{ .Release.Name }}
    spec:
      securityContext:
        runAsUser: 0
      containers:
      - name: code-server
        image: "{{ tpl .Values.global.complete_image . }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        command: ["sh", "-c", "code-server --auth none --bind-addr 0.0.0.0:8080 ${WORKSPACE}"]
        env:
{{ include "dynamicEnvs" $ | indent 8 }}
        - name: http_proxy
          value: {{ .Values.global.http_proxy }}
        - name: https_proxy
          value: {{ .Values.global.https_proxy }}
        resources:
          requests:
            memory: 200Mi
          limits:
            memory: 30Gi
        volumeMounts:
          - name: configs
            mountPath: /root/.local/share/code-server/User/keybindings.json
            subPath: keybindings.json
          - name: configs
            mountPath:  /root/.vscode/launch.json
            subPath: launch.json
          - name: configs
            mountPath: /root/.local/share/code-server/User/settings.json
            subPath: settings.json
{{ include "dynamicVolumeMounts" $ | indent 10 }}
          - name: dshm
            mountPath: /dev/shm
        {{- if contains (tpl .Values.global.complete_image .) "podman" }}
        securityContext:
          privileged: true
        {{- end }}
      volumes:
      - name: configs
        configMap:
          name: {{ .Release.Name }}
          items:
          - key: keybindings.json
            path: keybindings.json
          - key: launch.json
            path: launch.json
          - key: user_settings.json
            path: settings.json
{{ include "dynamicVolumes" $ | indent 6 }}
      - name: dshm
        emptyDir:
          medium: Memory
      imagePullSecrets:
      - name: registry-secret
