{{- $namespace := not .Values.global.namespace | ternary .Values.global.services_namespace .Values.global.namespace | toString }}
kind: Service
apiVersion: v1
metadata:
  name: vs-{{ .Values.global.uuid }}
  namespace: "{{ $namespace }}"
spec:
  selector:
    app-name: vs-{{ .Values.global.uuid }}
  ports:
    - protocol: TCP
      port: 8080
      name: vs-http
  type: ClusterIP
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: cs-strip-prefix-{{ .Values.global.uuid }}
  namespace: "{{ $namespace }}"
spec:
  stripPrefix:
    prefixes:
    - /vs-{{ .Values.global.uuid }}
    forceSlash: true
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: vs-{{ .Values.global.uuid }}
  namespace: "{{ $namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.helm_namespace  }}-auth-check@kubernetescrd,{{ $namespace }}-cs-strip-prefix-{{ .Values.global.uuid }}@kubernetescrd
    traefik.ingress.kubernetes.io/preserve-host: "true"
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host: 
    http:
      paths:
      - path: /vs-{{ .Values.global.uuid }}/
        pathType: ImplementationSpecific
        backend:
          service:
            name: vs-{{ .Values.global.uuid }}
            port:
              name: vs-http
