---
global:
  registry_url: ""
  pull_policy_images: ""
  base_namespace: ""
  fast_data_dir: ""
  slow_data_dir: ""
  namespace: "{{ .Values.global.services_namespace }}"
  dynamicVolumes:
  - name: desktop
    mount_path: /kaapana/minio
    host_path: /applications/desktop
    minio_mirror : true
  nodePortDesktopWorkbench: 22224

extension_params:
    service_type: 
        definition: "Service type"
        type: "list_single"
        value: [
           "ClusterIP",
            "NodePort"
        ]
        default: "ClusterIP"
    gpu_container:
        definition: "Pod with GPU - only if instance has GPU support"
        type: "boolean"
        default: false

        
