apiVersion: v1
data:
  keybindings.json: |-
    // Place your key bindings in this file to override the defaults
    [
        {
            "key": "ctrl+alt+down",
            "command": "editor.action.copyLinesDownAction",
            "when": "editorTextFocus && !editorReadonly"
        },
        {
            "key": "ctrl+shift+alt+down",
            "command": "-editor.action.copyLinesDownAction",
            "when": "editorTextFocus && !editorReadonly"
        },
        {
            "key": "ctrl+alt+up",
            "command": "editor.action.copyLinesUpAction",
            "when": "editorTextFocus && !editorReadonly"
        },
        {
            "key": "ctrl+shift+alt+up",
            "command": "-editor.action.copyLinesUpAction",
            "when": "editorTextFocus && !editorReadonly"
        },
        {
            "key": "ctrl+q",
            "command": "editor.action.addSelectionToNextFindMatch",
            "when": "editorFocus"
        },
        {
            "key": "ctrl+d",
            "command": "-editor.action.addSelectionToNextFindMatch",
            "when": "editorFocus"
        },
        {
            "key": "ctrl+d",
            "command": "editor.action.deleteLines",
            "when": "textInputFocus && !editorReadonly"
        },
        {
            "key": "ctrl+shift+k",
            "command": "-editor.action.deleteLines",
            "when": "textInputFocus && !editorReadonly"
        }
    ]
  machine_settings.json: |-
    {
        "security.workspace.trust.enabled": false,
        "security.workspace.trust.startupPrompt": "never",
        "workbench.colorTheme": "Default Dark+",
        "python.defaultInterpreterPath": "/opt/venv/bin/python",
        "chat.disableAIFeatures": true,
        "editor.aiStats.enabled": false,
        "chat.agent.enabled": false,
        "python.defaultInterpreterPath": "/opt/venv/bin/python",
        "workbench.secondarySideBar.defaultVisibility": "hidden"
    }
  launch.json: |-
    {
    // to change launch.json, change the kubernetes configmap
        "version": "0.2.0",
        "configurations": [
            {
                "name": "Python Debugger: Current File",
                "type": "debugpy",
                "request": "launch",
                "program": "${file}",
                "console": "integratedTerminal",
                "justMyCode": false,
            }
        ]
    }
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
---