kind: Deployment
apiVersion: apps/v1
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace .  }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app-name: {{ .Release.Name }}
    spec:
      restartPolicy: Always
      containers:
        # ToDo add init-container to wait for db-host
      - name: m2olie
        image: "{{ .Values.global.registry_url }}/m2olie-workbench:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        resources:
          requests:
            memory: "5Gi"
          limits:
            memory: "8Gi"
        env:
        - name: INGRESS_PATH
          value: {{ .Release.Name }}
        - name: WORKFLOW_DIR
          value: "{{ .Values.workflow_dir }}"
        - name: BATCH_NAME
          value: "{{ .Values.batch_name }}"
        - name: OPERATOR_OUT_DIR
          value: "{{ .Values.operator_out_dir }}" 
        - name: OPERATOR_IN_DIR
          value: "{{ .Values.operator_in_dir }}"
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
      volumes:
{{ include "dynamicVolumes" $ | indent 6 }}
      imagePullSecrets:
      - name: registry-secret