{{- $namespace := not .Values.global.namespace | ternary .Values.global.services_namespace .Values.global.namespace | toString }}
kind: Service
apiVersion: v1
metadata:
  name: "jupyterlab-{{ .Values.global.uuid }}"
  namespace: "{{ $namespace }}"
spec:
  selector:
    app-name: "jupyterlab-{{ .Values.global.uuid }}"
  ports:
    - protocol: TCP
      port: 8888
      targetPort: jupyterlab-http
      name: log-http-port
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: "jupyterlab-{{ .Values.global.uuid }}"
  namespace: "{{ $namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.helm_namespace  }}-auth-check@kubernetescrd
    traefik.ingress.kubernetes.io/preserve-host: "true"
spec:
  rules:
  - host: 
    http:
      paths:
      - path: /jupyterlab-{{ .Values.global.uuid }}
        pathType: ImplementationSpecific
        backend:
          service:
            name: "jupyterlab-{{ .Values.global.uuid }}"
            port:
              name: log-http-port