[Desktop Entry]
Type=Application
Name=Applications
Comment=Open the applications menu
Icon=/usr/share/kaapana/kaapana.png
Exec=jgmenu
Terminal=false
Categories=System;
