---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: debug-container
  namespace: "{{  .Values.global.services_namespace  }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: debug-container
  template:
    metadata:
      labels:
        app-name: debug-container
    spec:
      containers:
      - name: debug
        image: "{{ .Values.global.registry_url }}/debug-container:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_pods }}
        ports:
        - name: debug-http
          containerPort: 5000
      imagePullSecrets:
      - name: registry-secret

