kind: Service
apiVersion: v1
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
  labels:
    app.kubernetes.io/name: {{ .Release.Name }}
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: pt-slicer-http
  type: ClusterIP
  selector:
    app.kubernetes.io/name: {{ .Release.Name }}
---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ .Release.Name }}-redirect
  namespace: "{{ tpl .Values.global.namespace . }}"
spec:
  redirectRegex:
    regex: ^.*/project/{{ .Values.global.project_id}}/release/{{ .Release.Name }}([^\/]*)$
    replacement: "/applications/project/{{ .Values.global.project_id }}/release/{{ .Release.Name }}/"
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: {{ .Release.Name }}
  namespace: "{{ tpl .Values.global.namespace . }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{ tpl .Values.global.namespace . }}-{{ .Release.Name }}-redirect@kubernetescrd
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
    kaapana.ai/display-name: {{ if eq .Values.global.display_name "-" }}{{ .Release.Name }}{{ else }}{{ .Values.global.display_name }}{{ end }}
    kaapana.ai/type: application
spec:
  rules:
  - host:
    http:
      paths:
      - path: "/applications/project/{{ .Values.global.project_id }}/release/{{ .Release.Name }}"
        pathType: ImplementationSpecific
        backend:
          service:
            name: {{ .Release.Name }}
            port:
              name: pt-slicer-http
---