strawberry-graphql==0.111.1
beautifulsoup4==4.5.1
py==1.10.0
pydantic==1.8.2
SQLAlchemy==1.4.32
fastapi==0.75.2
pydantic==1.8.2
pydicom==2.1.2
pytest==7.1.2
elasticsearch==7.13.4
httpx==0.22.0
minio==7.1.2
requests==2.27.1
starlette==0.17.1
uvicorn==0.17.6
psycopg2-binary
uvicorn[standard]