---
global:
  pull_policy_images: "IfNotPresent"
  hostname: ""
  fast_data_dir: /home/kaapana
  slow_data_dir: /home/kaapana
  dynamicVolumes:
  - name: dags
  - name: af-logs
  - name: af-plugins
  - name: af-data
  - name: models
  - name: mounted-scripts
  - name: uploads
    

kaapana_database:
  admin: false
  postgres_user: root
  postgres_password: root
  postgres_db: airflow
  appName: airflow
