---
global:
  pull_policy_images: "IfNotPresent"
  hostname: ""
  fast_data_dir: /home/kaapana
  slow_data_dir: /home/kaapana
  dynamicVolumes:
  - name: models
    storage_class: workflow
    storage: 200Gi
  - name: workflow-data
    storage_class: workflow
    storage: 200Gi
  - name: uploads
  sharedVolumes:
  - name: af-plugins
    host_path: /workflows/plugins
  - name: dags
    host_path: /workflows/dags
  - name: af-logs
    host_path: /airflow/logs

kaapana_database:
  admin: false
  postgres_user: root
  postgres_password: root
  postgres_db: airflow
  appName: airflow
