fastapi==0.109.2
uvicorn[standard]==0.23.2
urnparse==0.2.0
httpx==0.26.0
motor==3.2.0
jsonschema==4.18.4
jsonschema-spec==0.2.3
deepdiff==6.3.1
semver==3.0.1
jsf==0.7.1
python-magic==0.4.27
python-multipart==0.0.6
pydantic-settings==2.0.2
