uvicorn[standard]==0.34.0
deepdiff==8.4.2
fastapi==0.115.12
httpx==0.28.1
jsf==0.11.2
jsonschema==4.23.0
jsonschema_spec==0.2.4
motor==3.7.0
pydantic==2.10.6
pydantic_settings==2.8.1
pymongo==4.11.2
pytest==8.3.5
python_magic==0.4.27
semver==3.0.4
starlette==0.46.1
urnparse==0.2.2
python-multipart==0.0.20