---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-dcm4che
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: postgres-dcm4che
  template:
    metadata:
      labels:
        app-name: postgres-dcm4che
    spec:
      containers:
        - name: postgres-dcm4che-container
          image: "{{ .Values.global.registry_url }}/dcm4che-postgres:{{ .Values.global.kaapana_build_version  }}"
          imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
          env:
            - name: STORAGE_DIR
              value: /storage/fs1
            - name: POSTGRES_DB
              value: pacsdb
            - name: POSTGRES_USER
              value: pacs
            - name: POSTGRES_PASSWORD
              value: pacs
            - name: TZ
              value: Europe/Paris
            - name: PGDATA
              value: /var/lib/postgresql/data
          ports:
            - containerPort: 5432
          resources:
            requests:
              memory: 150Mi
            limits:
              memory: 500Mi
          volumeMounts:
            - mountPath: /var/lib/postgresql/data
              name: postgres-data
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: dcm4chee-postgres-pv-claim
      imagePullSecrets:
      - name: registry-secret
---
