ansible==13.2.0
ansible-core==2.20.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
docker>=7.1.0
durationpy==0.10
idna==3.11
Jinja2==3.1.6
kubernetes==36.0.3
MarkupSafe==3.0.3
oauthlib==3.3.1
packaging==26.0
pycparser==3.0
python-dateutil==2.9.0.post0
python-gitlab==7.1.0
PyYAML==6.0.3
requests==2.32.5
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
resolvelib==1.0.1
six==1.17.0
urllib3==2.6.3
websocket-client==1.9.0
slack_sdk==3.39.0
python3-nmap==1.9.1
python-gitlab==7.1.0
tomli_w==1.2.0
tomli==2.4.0