---
apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: "{{ .Values.global.services_namespace }}"

  labels:
    app-name: grafana
spec:
  selector:
    app-name: grafana
  ports:
    - port: 3000
      protocol: TCP
      targetPort: 3000
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: grafna-ingress
  namespace: "{{ .Values.global.services_namespace }}"

  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.services_namespace  }}-strip-prefix@kubernetescrd
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host: 
    http:
      paths:
      - path: /grafana
        pathType: ImplementationSpecific
        backend:
          service:
            name: grafana
            port:
              number: 3000
---