---
apiVersion: v1
kind: Service
metadata:
  name: prometheus-service
  namespace: {{ .Values.global.monitoring_namespace }}
spec:
  selector:
    app-name: prometheus-server
{{- if .Values.global.dev_ports }}
  type: NodePort
  ports:
    - port: 9090
      nodePort: 4090
{{- else }}
  type: ClusterIP
  ports:
    - port: 9090
{{- end }}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: prometheus-ingress
  namespace: {{ .Values.global.monitoring_namespace }}

  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: kube-system-errorpages@kubernetescrd
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host:
    http:
      paths:
      - path: /prometheus
        backend:
          serviceName: prometheus-service
          servicePort: 9090