---
global:
  ingress_path: "{{ .Release.Name }}"
  complete_image: "{{ .Values.global.registry_url }}/jupyterlab:{{ .Values.global.kaapana_build_version  }}"
  namespace: "{{ .Values.global.services_namespace }}"
  dynamicVolumes:
  - name: jupyterlab
    mount_path: /kaapana/minio/
    storage: "1Gi"
  envVars:
  - name: WORKSPACE
    value: "/kaapana"
  
extension_params:
  display_name:
      default: "-"
      definition: Display name for the launched application
      type: string
      value: ""