---
global:
  ingress_path: "{{ .Release.Name }}"
  complete_image: "{{ .Values.global.registry_url }}/jupyterlab:{{ .Values.global.kaapana_build_version  }}"
  namespace: "{{ .Values.global.services_namespace }}"
  dynamicVolumes:
  - name: jupyterlab
    mount_path: /kaapana/minio/
    storage: "1Gi"
  envVars:
  - name: WORKSPACE
    value: "/kaapana"
  
extension_params:
  display_name:
      default: "-"
      definition: Display name for the launched application
      type: string
      value: ""
  minio_prefix:
    default: "/"
    definition: Directory in the project bucket to sync into the jupyterlab application/
    type: string
    value: "/"
  exclude_patterns:
    default: "__EXCLUDE_NO_FILES__"
    definition: Comma separated list of file patterns to exclude when syncing
    type: string
    value: "__EXCLUDE_NO_FILES__"