psycopg2==2.9.1
alembic==1.4.2
click==7.1.1
Flask==1.1.2
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
gunicorn==20.0.4
itsdangerous==1.1.0
MarkupSafe==2.1.1
python-dateutil==2.8.2
python-dotenv==0.13.0
python-editor==1.0.4
six==1.14.0
SQLAlchemy==1.3.16
WTForms==2.3.1
# Security fix for CVE-2023-25577
Werkzeug==2.2.3
# Security fix for CVE-2022-40023
Mako==1.2.2
# Security fix for CVE-2020-28493
Jinja2==3.1.2