# Python requirements for the documentation
sphinx==3.2.1
sphinx_rtd_theme
sphinxcontrib-mermaid
sphinx-tabs
rst2pdf

# apt requirements
# sudo apt-get install texlive-latex-recommended texlive-latex-extra texlive-fonts-recommended latexmk lmodern texlive-xetex
