---
global:
  pull_policy_images: "IfNotPresent"
  fast_data_dir: /home/kaapana
  slow_data_dir: /home/kaapana
  dynamicVolumes:
  - name: dcm4chee-standalone
    host_path: /dcm4che/server_data
    storage_class: slow
  - name: dcm4chee-dicom
    host_path: /dcm4che/dicom_data
    storage_class: slow
  - name: dcm4che
    host_path: /
    storage: 100Gi