{{- $namespace := .Values.global.services_namespace | toString }}
---
kind: Service
apiVersion: v1
metadata:
  name: mitk-vol-{{ .Values.global.uuid }}
  namespace: "{{ $namespace }}"
  labels:
    app: mitk-vol-{{ .Values.global.uuid }}
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      name: pt-mitk-http
  type: ClusterIP
  selector:
    app-name: mitk-vol-{{ .Values.global.uuid }}
---
apiVersion: traefik.containo.us/v1alpha1
kind: Middleware
metadata:
  name: mitk-vol-{{ .Values.global.uuid }}-redirect
  namespace: "{{ $namespace }}"
spec:
  redirectRegex:
    regex: ^.*/mitk-vol-{{ .Values.global.uuid }}([^\/]*)$
    replacement: /mitk-vol-{{ .Values.global.uuid }}/
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: mitk-vol-{{ .Values.global.uuid }}
  namespace: "{{ $namespace }}"
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: {{  .Values.global.helm_namespace  }}-auth-check@kubernetescrd,{{ $namespace }}-mitk-vol-{{ .Values.global.uuid }}-redirect@kubernetescrd
    kubernetes.io/ingress.global-static-ip-name: "kubernetes-ingress"
spec:
  rules:
  - host:
    http:
      paths:
      - path: /mitk-vol-{{ .Values.global.uuid }}
        pathType: ImplementationSpecific
        backend:
          service:
            name: mitk-vol-{{ .Values.global.uuid }}
            port:
              name: pt-mitk-http
---