apiVersion: v1
kind: Service
metadata:
  name: dicom-web-filter-service
  namespace: "{{ .Values.global.services_namespace }}"
  labels: 
    app.kubernetes.io/name: dicom-web-filter
    app.kubernetes.io/component: backend
spec:
  selector:
    app.kubernetes.io/name: dicom-web-filter
    app.kubernetes.io/component: backend
  ports:
{{- if .Values.global.dev_files }}
    - name: dicom-web-http
      port: 8080 
      targetPort: 8080
      nodePort: 8080 # only for development!
  type: NodePort # only for development!
{{- else }}
    - name: dicom-web-http
      port: 8080
      targetPort: 8080
      protocol: TCP
  type: ClusterIP
{{- end }}