apiVersion: apps/v1
kind: Deployment
metadata:
  name: kaapana-persistence-deployment
  namespace: "{{ .Values.global.services_namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: kaapana-persistence
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app-name: kaapana-persistence
    spec:
      initContainers:
        - name: init-wait-for-mongodb
          image: "{{ .Values.global.registry_url }}/service-checker:{{ .Values.global.kaapana_build_version }}"
          imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
          env:
            - name: WAIT
              value: "kaapana-persistence-mongodb-service,kaapana-persistence-mongodb-service.{{  .Values.global.services_namespace  }}.svc,277"
            - name: DELAY
              value: "2"
            - name: TIMEOUT
              value: "10"
      containers:
      - name: kaapana-persistence-frontend
        image: "{{ .Values.global.registry_url }}/kaapana-persistence-frontend:{{ .Values.global.kaapana_build_version }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
        ports:
          - name: frontend-http
            containerPort: 80
      - name: kaapana-persistence-backend
        image: "{{ .Values.global.registry_url }}/kaapana-persistence-backend:{{ .Values.global.kaapana_build_version }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_pods }}
        env:
        - name: SECRET_KEY
          value: kaapana-secret
        - name: HTTPS_PORT
          value: "{{ .Values.global.https_port }}"
        - name: http_proxy
          value: "{{ .Values.global.http_proxy }}"
        - name: https_proxy
          value: "{{ .Values.global.http_proxy }}"
        - name: no_proxy
          value: "kaapana-persistence-mongodb-service.{{  .Values.global.services_namespace  }}.svc,opensearch-service.{{  .Values.global.services_namespace  }}.svc,dcm4chee-service.{{  .Values.global.services_namespace  }}.svc"
        - name: MONGODB_URL
          value: "mongodb://kaapanauser:kaapanapassword@kaapana-persistence-mongodb-service.{{  .Values.global.services_namespace  }}.svc:27017"
        # - name: COUCH_DB_URL
        #   value: "https://{{ .Values.couchdb.user }}:{{ .Values.couchdb.password }}@kaapana-persistence-couchdb-service.{{  .Values.global.services_namespace  }}.svc:5984"
        - name: APPLICATION_ROOT
          value: "/persistence/api"
        - name: OHIF_VIEWER
          value: "https://{{.Values.global.hostname}}/ohif/viewer"
        - name: CAS_ROOT_PATH
          value: "/cas"
        - name: DEV_MODE
          value: "{{ .Values.global.dev_mode }}"
        - name: PORT
          value: "8080"
        - name: WORKERS
          value: "4"
        - name: BASE_URL
          value: "https://{{.Values.global.hostname}}/persistence/api"
        ports:
          - name: backend-http
            containerPort: 8080
        resources:
          limits:
            memory: "5Gi"
          requests:
            memory: "4Gi"
        volumeMounts:
        - name: kaapana-persistence-cas
          mountPath: /cas
{{- if .Values.global.dev_mode }}
        - name: kaapana-persistence-dev-files
          mountPath: /app
{{- end }}
      imagePullSecrets:
        - name: registry-secret
      volumes:
      - name: kaapana-persistence-cas
        persistentVolumeClaim:
          claimName: kaapana-persistence-cas-pv-claim
{{- if .Values.global.dev_mode }}
      - name: kaapana-persistence-dev-files
        persistentVolumeClaim:
          claimName: kaapana-persistence-dev-pv-claim
{{- end }}
---