{{- $uuid := uuidv4 | trunc 10 }}
kind: Deployment
apiVersion: apps/v1
metadata:
  name: jupyterlab-{{ $uuid }}
  namespace: {{ .Values.global.base_namespace }}
  labels:
    k8s-app: jupyterlab
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: "jupyterlab-{{ $uuid }}"
  template:
    metadata:
      labels:
        app-name: "jupyterlab-{{ $uuid }}"
    spec:
      # securityContext:
      #   runAsUser: 1000
      containers:
      - name: jupyterlab
        image: {{  .Values.global.registry_url }}{{  .Values.global.registry_project }}/jupyterlab:1.0-vdev
        imagePullPolicy: {{ .Values.global.pull_policy_pods }}
        resources:
          requests:
            memory: "100Mi"
          limits:
            memory: "1Gi"
        ports:
        - name: jupyterlab-http
          containerPort: 8888
        env:
        - name: INGRESS_PATH
          value: "/jupyterlab-{{ $uuid }}"
        volumeMounts:
          - name: miniodata
            mountPath: /appdata
      volumes:
      - name: miniodata
        hostPath:
          {{- if .Values.mount_path }}
          path: {{ .Values.mount_path }}
          {{- else }}
          path: {{ .Values.global.slow_data_dir }}/minio
          {{- end }}
          type: DirectoryOrCreate
      imagePullSecrets:
      - name: camic-registry
---
kind: Service
apiVersion: v1
metadata:
  name: "jupyterlab-{{ $uuid }}"
  namespace: {{ .Values.global.base_namespace }}
spec:
  selector:
    app-name: "jupyterlab-{{ $uuid }}"
  ports:
    - protocol: TCP
      port: 8888
      targetPort: jupyterlab-http
      name: log-http-port
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: "jupyterlab-{{ $uuid }}"
  namespace: {{ .Values.global.base_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: kube-system-errorpages@kubernetescrd
    traefik.ingress.kubernetes.io/preserve-host: "true"
    #traefik.frontend.rule.type: PathPrefixStrip
spec:
  rules:
  - host: 
    http:
      paths:
      - path: "/jupyterlab-{{ $uuid }}"
        backend:
          serviceName: "jupyterlab-{{ $uuid }}"
          servicePort: log-http-port
