alembic==1.13.1
asyncio==3.4.3
opensearch-py==2.4.2
fastapi==0.109.2
gunicorn==21.2.0
httpx==0.26.0
minio==7.2.3
uvicorn==0.27.0
prometheus-api-client==0.5.4
psycopg2-binary==2.9.9
python-keycloak==3.7.0
python-multipart==0.0.6
pytest==7.4.4
requests-cache==1.1.1
SQLAlchemy==1.4.51
sqlalchemy-json==0.7.0
dicom_parser==1.2.3
Werkzeug==3.0.1
cryptography==42.0.5
pyjwt==2.8.0
pydantic==1.10.14
prometheus-client==0.20.0
