alembic==1.10.2 
asyncio==3.4.3
opensearch-py==2.2.0 
fastapi==0.95.0
gunicorn==20.1.0
httpx==0.23.3
minio==7.1.14
uvicorn==0.21.1
prometheus-api-client==0.5.3
psycopg2-binary==2.9.5
python-keycloak==2.14.0
python-multipart==0.0.6
pytest==7.2.2
requests==2.28.2
SQLAlchemy==1.4.47