---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: landingpage
  namespace: "{{ .Values.global.services_namespace }}"
  labels:
    k8s-app: landingpage
spec:
  replicas: 1
  selector:
    matchLabels:
      app-name: landingpage
  template:
    metadata:
      labels:
        app-name: landingpage
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      initContainers:
      - name: thumbnails-init
        securityContext:
          runAsUser: 0
        image: "{{ .Values.global.registry_url }}/busybox:{{ .Values.global.kaapana_build_version  }}"
        command: ["chown", "1000:1000", "/kaapana/app/thumbnails/"]
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
      containers:
      - name: minio-mirror
        image: "{{ .Values.global.registry_url }}/minio-mirror:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy: {{ .Values.global.pull_policy_images }}
        resources:
          requests:
            memory: "10Mi"
          limits:
            memory: "50Mi"
        env:
        - name: ACTION
          value: "FETCH"
        - name: MINIO_SERVICE
          value: "minio-service.{{ .Values.global.services_namespace }}.svc:9000"
        - name: LOCAL_PATH
          value: /kaapana/app/thumbnails/
        - name: MINIO_PATH
          value: thumbnails
        - name: MINIO_USER
          value: {{ .Values.global.credentials_minio_username  | default "" }}
        - name: MINIO_PASSWORD
          value: {{ .Values.global.credentials_minio_password | default ""}}
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
      - name: landingpage
        image: "{{ .Values.global.registry_url }}/landing-page-kaapana:{{ .Values.global.kaapana_build_version  }}"
        imagePullPolicy:  {{ .Values.global.pull_policy_images }}
{{- if .Values.global.dev_files }}
        command: ["sh"]
        args: ["/kaapana/app/dev.sh"]
 {{- end }}
        ports:
        - name: landing-http
          containerPort: 5000
        livenessProbe:
          httpGet:
            path: /
            port: landing-http
          initialDelaySeconds: 10
          periodSeconds: 20
        resources:
{{- if .Values.global.dev_files }}
          requests:
            memory: 10Gi
          limits:
            memory: 10Gi
 {{- else }}
          requests:
            memory: 10Mi
          limits:
            memory: 10Mi
 {{- end }}
        volumeMounts:
{{ include "dynamicVolumeMounts" $ | indent 10 }}
          - name: common-data-file
            mountPath: /kaapana/app/jsons
          # - name: minio-data
          #   mountPath: /kaapana/app/minio
{{- if .Values.global.dev_files }}
          - name: landing-dev-files
            mountPath: /kaapana/app/src
 {{- end }}
      volumes:
{{ include "dynamicVolumes" $ | indent 6 }}
      - name: common-data-file
        configMap:
          name: landing-page-config
      # - name: minio-data
      #   persistentVolumeClaim:
      #     claimName: minio-pv-claim
{{- if .Values.global.dev_files }}
      - name: landing-dev-files
        persistentVolumeClaim:
          claimName: landing-dev-pv-claim
{{- end }}
      priorityClassName: kaapana-high-priority
      imagePullSecrets:
      - name: registry-secret
