---
kind: Service
apiVersion: v1
metadata:
  name: landingpage-service
  namespace: {{ .Values.global.base_namespace }}
spec:
  selector:
    app-name: landingpage
  ports:
    - protocol: TCP
      port: 5000
      targetPort: landing-http
      name: log-http-port
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1 
kind: Ingress
metadata:
  name: landingp-ing-ip-redirect
  namespace: {{ .Values.global.base_namespace }}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.middlewares: kub-system-{{  .Values.global.instance_id  }}-errorpages@kubernetescrd
    traefik.ingress.kubernetes.io/preserve-host: "true"
spec:
  rules:
  - host: 
    http:
      paths:
      - path: /
        pathType: ImplementationSpecific
        backend:
          service:
            name: landingpage-service
            port:
              name: log-http-port
---