{
  "title": "{{ workflow_display_name }}",
  "workflow_engine": "{{ workflow_engine }}",
  "workflow_parameters": [],
  "labels": [
    {
      "key": "category",
      "value": "processing"
    },
    {
      "key": "provider",
      "value": "custom"
    }
  ]
}
