elasticsearch==7.14.0
pathlib==1.0.1
pydicom==2.2.0
dicomweb-client==0.52.0
#slackclient
cryptography==3.4.8
numpy==1.19.1
scikit-learn==0.23.2
kaleido==0.2.1 # For export of plotly express figures...
kubernetes==11.0.0
minio==7.1.0
bleach==3.1.5
plotly==5.2.1
torch==1.11.0
torchvision==0.12.0
transformers==4.17.0
jupyterlab==3.3.2
ipywidgets==7.6.3
matplotlib==3.3.1
seaborn==0.11.1

