---
global:
  registry_url: ""
  pull_policy_images: ""
  base_namespace: ""
  fast_data_dir: ""
  slow_data_dir: ""
  namespace: "{{ .Values.global.services_namespace }}"
  dynamicVolumes:
  - name: tensorboard-dedicated
    mount_path: /kaapana/mounted/tb-logs/tensorboard
  - name: tensorboard-minio
    mount_path: /kaapana/mounted/tb-logs/minio
  display_name: "-"

extension_params:
    display_name:
        default: "-"
        definition: Display name for the launched application (max 20 chars)
        type: string
        value: ""